[2019-06-03 13:13] #1742 closed

[2019-06-03 17:22] KCMack opened #1752 "Leon Logothetis article"
Please add the following about our Keynote:
Leon Logothetis is a global adventurer, motivational speaker & philanthropist. It wasn’t always that way. He used to be a broker in the city of London where he felt uninspired and chronically depressed. He gave it all up for a life on the road. This radical life change was inspired by the inspirational movie The Motorcycle Diaries.

The days of living an

[2019-06-03 17:24] KCMack opened #1753 "Leon's promotional materials"
https://drive.google.com/drive/folders/1-B2-bdeYYDoRZapLhYtVlwTKCuptprv8

[2019-06-03 19:39] KCMack opened #1754 "Training Pages Update"
Please update the training schedule page
New date - August 9, 2019  for Collector and Survey 123 for ArcGIS - Field Data Collection

Change status for Introduction to Programming  ArcGIS Pro with Python from OPEN to CLOSED

The spreadsheet has been updated.

Thank you.

[2019-06-03 19:47] KCMack opened #1755 "Update the website front page and more"
Update with the following courses:
June 11-12 Introduction to R for Data Visualization
July 22-23  ArcGIS Pro Quick-Start for the GIS Professional

Please remove the June 13-14 ArcGIS Pro Quick-Start for the GIS Professional.  It has been crossed out of the spreadsheet.

[2019-06-04 16:40] csidenblad commented on #1742
@mitchellryant it doesn't look like you made this one public

[2019-06-04 16:42] csidenblad commented on #1747
@LaurenKirk @ThorTheDestroyer Uploaded breaklines and supplemental report.

[2019-06-04 16:42] #1747 closed

[2019-06-05 14:55] KCMack opened #1756 "GeoRodeo"
Please remove, or move below the Texas GIS Forum graphic on the front page.

[2019-06-05 15:26] ThorTheDestroyer commented on #1714
@mitchellryant In I: will you please change the 3 files named Bridge_Saddles to usgs-2016-70cm_Bridge-Saddles-blk4?

Contours and contour metadata have been completed and are ready to move to production.

[2019-06-05 19:17] mitchellryant commented on #1749
https://data.tnris.org/catalog/%7B%22filters%22%3A%7B%22category%22%3A[%22Historic_Imagery%22]%7D%7D

[2019-06-06 20:02] mitchellryant commented on #1740
Daniel K Pearson presentation link https://www.slideshare.net/slideshow/embed_code/key/nSe08kDDJyumHp

[2019-06-06 20:41] christoball commented on #1740
added pearson's slides

resolved in ac8fe09240fb933356a94b82fd729fb82b92345c

[2019-06-06 20:41] #1740 closed

[2019-06-06 22:35] christoball commented on #1755
Preview of updated front page here: https://preview.tnris.org/ellwood/974d5397531e032532807ef7142f49c27a54e4c6/

[2019-06-06 22:36] christoball commented on #1754
training and front page has been updated

resolved in 2775e79655b757ede0c2e1ff77552a4d9a4a4054

[2019-06-06 22:36] #1754 closed

[2019-06-07 14:52] KCMack opened #1757 "Forum Call for Papers"
Please add Call for Papers to the website front page .  Here's what we have sent to everybody.
[Texas GIS Forum 2019 - Call for Presentations Now Open!.pdf](https://github.com/TNRIS/tnris.org/files/3266452/Texas.GIS.Forum.2019.-.Call.for.Presentations.Now.Open.pdf)

[2019-06-07 16:15] geochik opened #1758 "Update GIO Calendar of Events"
Please remove past events, add the following:

June 18, 2019
North Texas Career Mixer
5:00PM
Green Gator, Las Colinas, TX
Event Link: https://urisatexas.org/event-3394080

June 20, 2019
North Texas SCAUG/ETUG User Group Joint Meeting
9:00AM-1:00PM
City of Paris Council Chambers
Event Link: https://scaug.org/event-3411148

Also, please update the GIS Community Meeting location to:
Texas Health and

[2019-06-07 18:43] LaurenKirk opened #1759 "No Refunds on RDC Pricing Page"
Hey @christoball, can we add a short disclaimer on the RDC pricing page stating that we do not allow refunds.

Technically, because all of our data is free, customers are paying for the service of bulk data processing, printing, customizing, etc...

Thank you!

[2019-06-07 19:29] christoball commented on #1759
@LaurenKirk can you draft an idea of how you think it should be phrased?

[2019-06-10 14:35] LaurenKirk commented on #1759
@christoball see below (also, please format as you see fit):

Please note: TNRIS does not offer refunds for services rendered.  All data is available through the Public Domain at no cost.  All applicable fees are associated with the cost of data reproduction.

Let me know if you need anything else, thank you!!

[2019-06-10 14:44] christoball commented on #1757
resolved in a7312a1c934c8185305e79d626438b427985492f

[2019-06-10 14:44] #1757 closed

[2019-06-10 14:44] christoball commented on #1756
resvoled in a7312a1c934c8185305e79d626438b427985492f

[2019-06-10 14:44] #1756 closed

[2019-06-10 14:45] christoball commented on #1755
resolved in a7312a1c934c8185305e79d626438b427985492f

[2019-06-10 14:45] #1755 closed

[2019-06-10 14:55] christoball commented on #1758
updated and resolved in 17b08e6fe28a9d02411860edbd77b17bc449c72f

[2019-06-10 14:55] #1758 closed

[2019-06-10 15:12] christoball commented on #1753
closing, this can be merged to the issue regarding the article #1752

[2019-06-10 15:12] #1753 closed

[2019-06-10 15:12] christoball commented on #1752
Promo materials link
https://drive.google.com/drive/folders/1-B2-bdeYYDoRZapLhYtVlwTKCuptprv8

[2019-06-10 16:37] christoball commented on #1752
@KCMack Draft article here: https://preview.tnris.org/ellwood/2dbec36b776f7438282758c63ddcc8df4140c000/news/2019-06-11/forum-keynote-leon-logothetis-host-kindness-diaries/

[2019-06-10 18:28] mitchellryant opened #1760 "2016 lidar acquisition project"
does this page still serve a purpose? https://tnris.org/2016-lidar-acquisition-project/
or this https://tnris.org/2017-lidar-acquisition-project/

It has information about projects that have been delivered.
should it be removed or updated with current ongoing projects?

i found it [here](https://www.google.com/search?q=tnris+lidar+projects&oq=tnris+lidar+projects&aqs=chrome..69i57.5175j0j7&sourcei

[2019-06-10 18:39] christoball commented on #1759
added the language to the site

resolved in c6245ac82ce1802244a7fdb7e704aa90e7d14359

[2019-06-10 18:39] #1759 closed

[2019-06-10 18:40] christoball commented on #1749
resolved in c6245ac82ce1802244a7fdb7e704aa90e7d14359

[2019-06-10 18:40] #1749 closed

[2019-06-10 18:58] ThorTheDestroyer opened #1761 "data release: 2016-2018 USGS Lidar Data"
News article for 5 new USGS lidar collections.
#1712
#1713
#1714
#1715
#1716

[2019-06-10 19:39] KCMack commented on #1752
Looks great!

[2019-06-10 19:42] christoball commented on #1752
resolved in a0381b2c61a3c2097cc678478dd4b1f529745beb

[2019-06-10 19:42] #1752 closed

[2019-06-10 19:57] ThorTheDestroyer commented on #1761
---
title: 2016-2018 USGS Lidar Data Release
author: Joey Thomas, StratMap
template: news.html
mainimage: static/images/updates/2019/2018_coastal_lidar_release_banner.jpg
thumbnail: static/images/updates/2019/2018_coastal_lidar_release_th.jpg
thumbalt: A thumbnail for 2016-2018 USGS Lidar Data Release
abstract: A collaborative initiative by federal agencies to capture high-quality lidar data for s

[2019-06-10 21:06] christoball commented on #1760
deleted these pages for now
resolved in fdc4ad573b440581ad845bae1bcda82665a93f24

[2019-06-10 21:06] #1760 closed

[2019-06-12 20:24] christoball commented on #1715
@csidenblad I've added cropped and web-optimized versions to the same folder under M:\Website\datacatalog\images.

I added _web to the file names to distinguish that.

[2019-06-12 20:25] mitchellryant commented on #1715
@csidenblad no images loaded so ic not make public

[2019-06-12 20:27] mitchellryant commented on #1713
@LaurenKirk no images loaded, so i can not make it public.

[2019-06-12 20:28] christoball commented on #1713
I've Added the optimized images under the same folder with _web added to filename.

[2019-06-12 20:47] ThorTheDestroyer commented on #1712
![image](https://user-images.githubusercontent.com/8398036/59385054-28407800-8d29-11e9-8f6a-dfba2332ce25.png)

My mistake, I just checked it and looks like everything including the datacard have the right date.  If there is a remaining issue please let me know, and I'll take care of it.

[2019-06-13 12:00] #1703 closed

[2019-06-13 12:12] mitchellryant commented on #1714
@ThorTheDestroyer @christoball images are not the proper dimensions. please adjust and reload images.

https://data.tnris.org/collection/d55b62b3-fd81-4e15-a034-6fda56cde7de

[2019-06-13 12:22] mitchellryant opened #1762 "elevation-lidar page"
Please add the following on https://tnris.org/stratmap/elevation-lidar/ next to the status map.

TNRIS acquires lidar data through partnerships with other federal and state agencies through the [StratMap Contract](https://tnris.org/stratmap/stratmap-contracts), which operates through the [Texas Department of Information Resources (TxDIR)](http://dir.texas.gov/).

Historically, TNRIS acquired data

[2019-06-13 12:43] #1762 closed

[2019-06-13 15:11] mitchellryant commented on #1714
there is black space around both images. there is not supposed to be.

[2019-06-13 15:28] ThorTheDestroyer commented on #1714
Corrected, my math was off a bit.  Loaded new images with captions.

[2019-06-13 15:54] ThorTheDestroyer commented on #1761
Here are some graphics for the banner.
![Website_Banner_graphic](https://user-images.githubusercontent.com/8398036/59447779-74db9000-8dc9-11e9-85f3-8841c60139ff.jpg)

[2019-06-13 19:23] christoball commented on #1761
@ThorTheDestroyer can each collection be a different color on this map?

[2019-06-13 22:03] KCMack opened #1763 "2019 Forum Sponsorships"
Please update the Forum website with Sponsorship pages.  All sponsor content from 2018 is the same for 2019 except:
Exhibitor Only $1,750 - limit 10

Includes: 10X10 exhibit space (with electricity), draped table, 2 chairs, trash receptacle, and wireelss internet access.

The last sentence under this category should read:
Exhibitor Only option is reserved for government agencies, educational insti

[2019-06-14 15:12] csidenblad opened #2 "Add Breakline and Project Reports"
There are a few collections that need to have Breakline and Project Reports links uploaded.

Neches River Basin needs breaklines and project report
Jack Archer needs project report
Upper Coast needs project report

@ThorTheDestroyer @gmullins

[2019-06-14 15:12] csidenblad opened #1764 "Add Breakline and Project Reports"
There are a few collections that need to have Breakline and Project Reports links uploaded.

Neches River Basin needs breaklines and project report
Jack Archer needs project report
Upper Coast needs project report

@ThorTheDestroyer @gmullins

[2019-06-14 15:56] ilyannakadich opened #1765 "Land Parcel website count update to 220"
@christoball Please update the count and status bar to 220 for land parcels.  Thanks!

[2019-06-14 17:00] christoball commented on #1763
@KCMack do you have the registration link?

[2019-06-14 19:51] christoball commented on #1763
Preview of sponsors page. Just needs to 2019 sponsor registration link after any other edits to go live:
https://preview.tnris.org/ellwood/a31a435e25ab376d2993e5d31cde3ccadc168810/texas-gis-forum/2019/sponsors-and-exhibitors/

[2019-06-14 19:59] christoball commented on #1763
@KCMack We also need updated sponsor rules and regulations

[2019-06-14 20:03] christoball commented on #1765
Updated count, resolved in ea5ce956c3d8d7aef0bcc85d0ca8812e44180597

[2019-06-14 20:03] #1765 closed

[2019-06-17 15:33] ThorTheDestroyer opened #1766 "new dataset: USGS 2018 Lower Colorado & San Bernard"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [X] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [ ] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [ ] Creation of derivative products @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDestroyer

**DataHub**
- [ ] Create co

[2019-06-17 16:19] ThorTheDestroyer commented on #1761
![Datarelease_graphic_colored](https://user-images.githubusercontent.com/8398036/59620155-c3529c80-90f1-11e9-81e5-928e41455bb6.jpg)

[2019-06-17 16:20] ThorTheDestroyer commented on #1761
![Datarelease_graphic_colored-counties](https://user-images.githubusercontent.com/8398036/59620204-e7ae7900-90f1-11e9-8007-67dc23e4fee6.jpg)
@christoball  here are colored versions

[2019-06-17 16:21] ThorTheDestroyer commented on #1761
![Pointcloud_USGS_release3d](https://user-images.githubusercontent.com/8398036/59620265-09a7fb80-90f2-11e9-8925-ef2d0664c81a.jpg)
And here is the other one i forgot to include the other day.

[2019-06-17 16:27] KCMack opened #1767 "Link for sponsorship registration"
https://events.eply.com/2019GISForumSponsorshipApplication2969304.
please publish the sponsorship/exhibitor page and add the link.

[2019-06-17 19:15] ThorTheDestroyer commented on #1766
DEMs are in .tiff format.  Currently converting to .imgs

[2019-06-17 19:19] mitchellryant commented on #1761
@christoball @ThorTheDestroyer does it make sense to hold off on the news article till #1766 is completed?

[2019-06-17 21:05] christoball commented on #1761
@ThorTheDestroyer @mitchellryant preview of article so far. I plan to add each dataset listed in some way.

https://preview.tnris.org/haish/515eab10b7e765b268dc42329f4acd7597a1e759/news/2019-06-12/2016-2018-usgs-lidar-releases/

[2019-06-17 23:22] KCMack opened #1768 "Deadline Extended for Call for Presentations"
New Date is June 21.

Please update the website front page and the Call for Presentation tab.

[2019-06-18 12:41] mitchellryant commented on #1761
increasing spacing between DataHub button and sentence.
collection dates on graphic are incorrect.

[2019-06-18 14:45] christoball commented on #1768
done, resolved in b8bd2c674770fb32258789165f25ba69c97c10bd

[2019-06-18 14:45] #1768 closed

[2019-06-18 14:58] christoball commented on #1761
@mitchellryant is this correct?

![usgs_2016_2018_collections](https://user-images.githubusercontent.com/1877550/59695288-9c5aa000-91af-11e9-8fd6-53460473efc2.jpg)

[2019-06-18 15:00] mitchellryant commented on #1761
yes. that is correct

[2019-06-18 16:53] ThorTheDestroyer commented on #1761
Looks good,  on the datahub link, do we just want to do something like this instead of listing them all separately?

https://data.tnris.org/catalog/%7B%22filters%22%3A%7B%22category%22%3A[%22Lidar%22]%7D%2C%22search%22%3A%22USGS%20FEMA%22%2C%22sort%22%3A%22AZ%22%7D

I know the Neches pops up in there as well, but its close enough.

[2019-06-18 20:38] christoball commented on #1761
@ThorTheDestroyer if this works for you I think its a good approach

[2019-06-18 20:59] ThorTheDestroyer commented on #1761
Works for me.

[2019-06-19 20:31] christoball commented on #1761
article finalized and pushed to production

resolved in 259cc30cee7b9fa226b5b2619fe5648b35d7068d

[2019-06-19 20:31] #1761 closed

[2019-06-19 22:09] KCMack opened #1769 "Sponsor/Exhibitor Rules and Regulations"
Please add this PDF
[Rules and Regulations 2019 FINAL.pdf](https://github.com/TNRIS/tnris.org/files/3308052/Rules.and.Regulations.2019.FINAL.pdf)
to the sponsor page

[2019-06-20 15:15] christoball commented on #1763
Resolved in c52def1b87e1da5e835eecc1ef5cc89d960bf59c

[2019-06-20 15:15] #1763 closed

[2019-06-20 15:16] christoball opened #1770 "2019 Forum Workshops page"
Create page for 2019 forum training

[2019-06-20 15:16] christoball commented on #1769
resolved in c52def1b87e1da5e835eecc1ef5cc89d960bf59c

[2019-06-20 15:16] #1769 closed

[2019-06-20 15:17] christoball commented on #1767
resolved in c52def1b87e1da5e835eecc1ef5cc89d960bf59c

[2019-06-20 15:17] #1767 closed

[2019-06-20 16:14] KCMack opened #1771 "2019 Forum Sponsorships - A` la Carte Lanyards"
Name Tag Lanyards: $500
Please add to the existing description with the following:
Or provide your own lanyards with your company logo!  Send us the lanyards by October 1 to take advantage of this option.

[2019-06-20 16:33] christoball commented on #1770
Preview page here: https://preview.tnris.org/ellwood/ac9a60881e882a3e14302590a178613f7bb68653/texas-gis-forum/2019/workshops/

[2019-06-20 17:06] christoball commented on #1771
updated the page

resolved in 6e4a2c650b2945f5cbb1bc280648c13de7f88a04

[2019-06-20 17:06] #1771 closed

[2019-06-20 21:34] KCMack opened #1772 "Close Call for Presentations on June 21"
At the end of your work day tomorrow, please Close the Call for Papers:

Under Submission -

Replace   Deadline for presentation submission has been extended!
With  Presentation Abstract Submission is CLOSED
And,
Remove the link to submit a presentation proposal

[2019-06-20 23:31] KCMack opened #1773 "Photos for Workshop Instructors"
![ClaireDeVaughan](https://user-images.githubusercontent.com/4912083/59887398-cdda9380-9388-11e9-8bb1-4e8db17b41cb.JPG)   Monday at 1:00 The National MAp

![ep](https://user-images.githubusercontent.com/4912083/59887417-e3e85400-9388-11e9-8ea9-5ed88d4fb79e.png)  Eric Pimpler Monday at 1:00  USing R to Visualize US Census Data

![Brian_King cmyk (002)](https://user-images.githubusercontent.com/4912

[2019-06-20 23:38] KCMack opened #1774 "Preview Pre-conference workshops"
Please refresh the page.  Changes were made to the spreadsheet.

[2019-06-21 14:37] christoball commented on #1774
Please keep any comments on the current issue for this: #1170

[2019-06-21 14:37] #1774 closed

[2019-06-21 14:37] christoball commented on #1770
Comment on other issue
"Please refresh the page. Changes were made to the spreadsheet."
- @KCMack

[2019-06-21 18:25] gmullins opened #1775 "Create 'Events' Page"
I just noticed there is no Forum link at the top of our site. Is that by design? Seems like it could go under Programs or under a new one called Events. Same with GeoRodeo.

[2019-06-21 21:32] KCMack commented on #1770
![Teresa Howard](https://user-images.githubusercontent.com/4912083/59937369-e04fde00-9417-11e9-98a7-c857568021d2.jpg)
Teresa Howard Monday @ 8:00 and Tuesday @ 8:00

![2014-11-01_Sean_Moran_Head_Shot](https://user-images.githubusercontent.com/4912083/59951313-26b83380-943e-11e9-991b-c0296de59bba.jpg)
Sean Moran  Tuesday afternoon 1:00 - 5:00 pm

The spreadsheet has again been updated, please refre

[2019-06-21 21:33] KCMack commented on #1772
It is probably safe to close the submission link.

[2019-06-21 22:04] christoball commented on #1772
closed it

resolved in faf84b69e0749e7944634dab7409897b534a7bab

[2019-06-21 22:04] #1772 closed

[2019-06-24 16:02] KCMack commented on #1774
Please refresh the training page.  New content has been added.

Kathleen Clancy's head shot if presented.

At this point, we have all but a better resolution head shot for Bill Hodge and and content from CARTO (which is a long shot).
![Kathleen Clancy](https://user-images.githubusercontent.com/4912083/60034133-877a8280-966f-11e9-945b-20af6c104279.jpg)

[2019-06-24 16:50] KCMack commented on #1774
Up
![BH photo jpg](https://user-images.githubusercontent.com/4912083/60037032-33bf6780-9676-11e9-9170-3706546edee0.png)
dated head shot Bill Hodge

[2019-06-24 19:55] christoball commented on #1770
Latest preview:
https://preview.tnris.org/ellwood/67d8e1125df128b112001fa2dd613efe25981679/texas-gis-forum/2019/workshops/

[2019-06-24 21:06] KCMack commented on #1774
![Zena Pelletier](https://user-images.githubusercontent.com/4912083/60051963-cde4d700-9699-11e9-86d4-ff5bfff17309.JPG)
Zena  Pelletier   Tuesday @ 1:00 PM

![ClaireDeVaughan](https://user-images.githubusercontent.com/4912083/60052006-e8b74b80-9699-11e9-9f2e-fa4d6b0036d4.JPG)
Claire DeVaughan  Monday @ 1:00 PM

[2019-06-24 21:35] christoball commented on #1774
@KCMack this issue is closed please use issue #1770

[2019-06-24 21:41] #1773 closed

[2019-06-24 21:41] christoball commented on #1773
see #1770

[2019-06-24 22:08] christoball commented on #1775
@gmullins thanks, these are good points. 'Programs' is getting kind of full, but we have been thinking about adding an 'Events' tab to the top nav to showcase this since they are prominent parts.

This is something that I plan to make happen soon

[2019-06-24 22:26] christoball commented on #1770
Another preview with more instructor photos added:
https://preview.tnris.org/ellwood/87d1a0a1520c8fd9d14145ae2d99b7ecca2dfe1c/texas-gis-forum/2019/workshops/

[2019-06-25 14:30] christoball commented on #1775
Turning this issue into the issue for the events page that will show all the Texas GIS Forum and the GeoRodeo pages. Will add 'Events' to top nav.

[2019-06-25 14:38] gmullins commented on #1775
:)

[2019-06-25 20:31] KCMack commented on #1770
Looks great!  Please publish this page on Thursday, June 27

[2019-06-26 20:21] KCMack commented on #1770
Forum Registration link
events.eply.com/2019GISForumRegistration

[2019-06-26 21:53] KCMack commented on #1770
Forum Registration Rates:

  | Before Sept. 20 | Sept. 23 - Oct. 11 | Onsite | One Day
-- | -- | -- | -- | --
Government | $295 | $325 | $375 | $200
Industry | $345 | $375 | $425 | $250
Student | $50 | $50 | $50 | $25

[2019-06-27 16:25] ThorTheDestroyer opened #1776 "Brown County Lidar"
**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create collection @mitchellryant
- [x] C

[2019-06-27 18:00] ThorTheDestroyer opened #1777 "update: lidar status map link"
please update the lidar status map with the link below.

https://tnris-twdb.carto.com/u/tnris/builder/03970fcc-1040-4819-a08b-30c139add308/embed

for the StratMap elevation page.

https://github.com/TNRIS/tnris.org/blob/master/content/markdown/stratmap/elevation-lidar.md

[2019-07-01 13:33] ilyannakadich opened #1778 "Update Address Point website timeline"
@christoball Please update the address point website timeline as below:

April 2019
Over 4 million updated address points received

Fall 2019
Over 6 million updated address points received

Winter 2019
Over 9 million updated address points received and posted on DataHub

[2019-07-01 20:04] ThorTheDestroyer opened #1779 "new dataset: USGS 2018 Eastern Texas"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [ ] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDestroyer

**Data

[2019-07-02 15:39] geochik opened #1780 "Update to GIO Events Page"
Hello Chris,

Please remove the expired events and replace with the following:

2019 ESRI UC SCAUG User Social
July 9, 2019
5:30 - 7:00 p.m.
San Diego Convention Center, Room 28C & Plaza Terrace (Upper Level)
111 W Harbor Dr
San Diego, CA 92101
Event Site - https://scaug.org/event-3388449

NORTH TEXAS User Group Meeting
August 21, 2019
City of McKinney - City Hall, Council Chambers
222 N. Tennesse

[2019-07-02 17:04] christoball commented on #1780
updated events, resolved in e954e9812f110a0303e0c7278327bd3080948c34

[2019-07-02 17:04] #1780 closed

[2019-07-02 17:10] christoball commented on #1777
updated link included in this commit, resolved in 2b68d5f3e7f3bf2a3127117bd8ad1e4d225fdceb

[2019-07-02 19:22] christoball commented on #1778
@ilyannakadich Does this look right?
https://tnris.org/stratmap/address-points/

[2019-07-02 19:30] ilyannakadich commented on #1778
@christoball Looks great!

[2019-07-02 19:31] christoball commented on #1778
@ilyannakadich thanks

resolved in 378fd332a0de84c290291779aba61ec5baf2ddbb

[2019-07-02 19:31] #1778 closed

[2019-07-03 19:55] KCMack opened #1781 "Cancel 7/24 Training Session"
Please update the website to cancel:
7/24/2019 Arcade Scripting for ArcGIS Pro
The spreadsheet has been updated.

[2019-07-03 21:03] KCMack commented on #1781
forgot to assign to Chris

[2019-07-03 21:05] KCMack opened #1782 "2019 Forum Registration Rates"
Please update the registration rates as follows:
         Before September 20 | September 23 -   October 11 | Onsite | One-Day
Government | $325 | $375 | $425 | $275

Industry | $425 | $475 | $525 | $325

Student | $50 | $50 | $50 | $25

[2019-07-03 21:26] christoball commented on #1782
Is there another registration link? The current one still says test mode.

[2019-07-09 16:17] christoball commented on #1782
updated and live

resolved in e1bc95558c3ce45d134d67f3826afab182b35f12

[2019-07-09 16:17] #1782 closed

[2019-07-09 16:17] christoball commented on #1781
resolved

[2019-07-09 16:17] #1781 closed

[2019-07-09 16:18] christoball commented on #1770
resolved

[2019-07-09 16:18] #1770 closed

[2019-07-09 16:32] KCMack opened #1783 "2019 Poster Gallery & Contest"
The purpose of the poster gallery is to promote and recognize the advances of map design, cartography, and GIS. The map gallery is open to all attendees and vendors. Attendees will have the opportunity to vote on each poster based on the following criteria:

Map design
Use of space
Subject matter
Communication
Creativity
Originality

Winners
The top 3 vote earners will be highlighted on the TNRIS

[2019-07-09 18:42] mitchellryant opened #1784 "new dataset: Land Parcels"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ilyannakadich
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ilyannakadich
- [ ] Data Processing [renaming file, data organization]  @ilyannakadich
- [ ] Quality Assurance @ilyannakadich

**DataHub**
- [x] Create collection @mitchellryant
- [ ] Complete console collection form inclu

[2019-07-09 18:43] mitchellryant opened #1785 "new dataset: Address Points"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ilyannakadich
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ilyannakadich
- [ ] Data Processing [renaming file, data organization]  @ilyannakadich
- [ ] Quality Assurance @ilyannakadich

**DataHub**
- [x] Create collection @mitchellryant
- [ ] Complete console collection form inclu

[2019-07-09 19:34] christoball commented on #1783
@KCMack Preview ready here:
https://preview.tnris.org/ellwood/12cbc98cb8592b0a7fdf7d9b5055116b2fa91ea2/texas-gis-forum/2019/poster-gallery/

[2019-07-09 21:51] KCMack commented on #1783
Looks great!

[2019-07-10 12:23] adambreznicky commented on #1783
code merged via PR. closing.

[2019-07-10 12:23] #1783 closed

[2019-07-10 21:04] KCMack opened #1788 "GIS Forum Registration is OPEN!"
Front Page item:
Texas GIS Forum Registration is Open!

Register for the[ Early Bird](https://tnris.org/texas-gis-forum/2019/) rates!

Add the Forum graphic to catch attention.

[2019-07-10 22:28] christoball commented on #1788
@KCMack preview ready here: https://preview.tnris.org/ellwood/69556b5278c2a2a63d14b4ee5eb4f776551f6f9a/

[2019-07-10 23:08] KCMack commented on #1788
It looks good.  Thanks.

[2019-07-11 15:05] christoball commented on #1788
closed in pr #1789

[2019-07-11 15:05] #1788 closed

[2019-07-11 21:09] geochik opened #1792 "GIS Community Meeting Agenda"
The GIS Community agenda is ready for posting. Please also update the map link in the agenda.
[GISComm_Agenda_20190416.pdf](https://github.com/TNRIS/tnris.org/files/3383982/GISComm_Agenda_20190416.pdf)
[HHSC_campus.pdf](https://github.com/TNRIS/tnris.org/files/3383983/HHSC_campus.pdf)

[2019-07-12 15:26] christoball commented on #1792
@geochik preview available here:
https://preview.tnris.org/ellwood/9291e8fbe04d7dd1699176233eb6fc7ff81cf7d5/geographic-information-office/

I don't really feel like there is a place to share the campus map. I think it's overkill to have it in addition to the address and linking to google on the agenda.

[2019-07-12 15:52] geochik commented on #1792
I hear ya about the campus map. It was more about being able to view the parking garage directly behind the building.

Preview approved!

[2019-07-12 16:30] #1792 closed

[2019-07-12 18:23] geochik opened #1795 "GIO Calendar Update"
Please update the GIO events with the following:

August 5-9, 2019
The 2019 Council of Geographic Names Conference
Baton Rouge, LA
URL: http://cogna50usa.org/2019_Baton_Rouge.html

September 28-October 2, 2019
URISA GIS-Pro 2019
New Orleans, LA
URL: https://www.urisa.org/gis-pro

[2019-07-12 19:01] christoball commented on #1795
@geochik preview of updated calendar:
https://preview.tnris.org/ellwood/2c0c97f2b22e9b48938d70521374779901be25d1/geographic-information-office/

[2019-07-12 20:23] geochik commented on #1795
Reviews and approved!

[2019-07-12 20:46] #1795 closed

[2019-07-15 16:18] christoball commented on #1775
Been working on this recently and have it at a place to check out.

@KCMack @geochik @gmullins
https://preview.tnris.org/glidden/1525d9ba44ed4de09d355c3bd9bed19870635851/events/

[2019-07-15 16:29] geochik commented on #1775
Excellent start! Having access to past events from one location is not only great for the community, but also for us. I think it's also a great selling point as we continue to promote our events.
Thanks so much for working on this!

[2019-07-15 19:20] KCMack opened #1799 "Advanced ArcGIS Programming _Status Change"
Change the status for August 19 Advanced ArcGIS Programming with Python from OPEN to CLOSED

The spreadsheet has been updated

[2019-07-15 19:25] KCMack commented on #1775
I like it a lot.  Good snapshot of programs.

KCM

Kathleen C. Mack, PMP
TNRIS Operations Manager
1700 N. Congress Avenue
Austin, Texas  78701
Kathleen.Mack@twdb.texas.gov
512 463-4536

From: Christoball <notifications@github.com>
Sent: Monday, July 15, 2019 11:18 AM
To: TNRIS/tnris.org <tnris.org@noreply.github.com>
Cc: KCMack <Kathleen.Mack@tnris.texas.gov>; Mention <mention@noreply.github.com>

[2019-07-15 21:24] christoball commented on #1799
@KCMack preview ready here:
https://preview.tnris.org/ellwood/cc659898e93dc28f249ef0a28512d5f7ce301bc2/education/

[2019-07-15 22:26] KCMack commented on #1799
Thanks, it looks good.

kcm

Kathleen C. Mack, PMP
TNRIS Operations Manager
1700 N. Congress Avenue
Austin, Texas  78701
Kathleen.Mack@twdb.texas.gov
512 463-4536

From: Christoball <notifications@github.com>
Sent: Monday, July 15, 2019 4:25 PM
To: TNRIS/tnris.org <tnris.org@noreply.github.com>
Cc: KCMack <Kathleen.Mack@tnris.texas.gov>; Mention <mention@noreply.github.com>
Subject: Re: [TNRIS/tnr

[2019-07-16 16:14] ThorTheDestroyer commented on #1777
Looks like we forgot the link in the paragraph next to the status map.

Will you please update the link in the paragraph shown below as well?

_Lidar coverage varies across the state. Lidar coverage and project details (date, nominal point spacing, vendor, etc.) can be found on the Lidar Status Map. All details about each dataset in our collection can be found in the supplemental reports for each

[2019-07-16 16:51] christoball commented on #1777
@ThorTheDestroyer Fixed it, working in this preview:
https://preview.tnris.org/ellwood/4d6b557ab29aaa49a30d912fe596e24cd2cb884e/stratmap/elevation-lidar/

[2019-07-16 18:38] christoball commented on #1777
@ThorTheDestroyer does it look good to go?

[2019-07-16 18:55] ThorTheDestroyer commented on #1777
Looks great. Thank you

[2019-07-16 19:53] #1799 closed

[2019-07-16 19:53] #1777 closed

[2019-07-18 12:22] mitchellryant opened #1804 "Poster Contest"
please change the attention in the address for the poster contest to

Texas Natural Resources Information System
**Attn: Forum Poster Contest**
1700 N. Congress, B-40
Austin, Texas, 78701

on page https://tnris.org/texas-gis-forum/2019/poster-gallery/

[2019-07-18 14:43] christoball commented on #1804
@e00o @mitchellryant edited that, does it look good to go?
https://preview.tnris.org/ellwood/bdd65db4fa3bffa2e0bfc50f831e9ba0dcdc4454/texas-gis-forum/2019/poster-gallery/

[2019-07-18 14:46] e00o commented on #1804
Good to go.

[2019-07-18 14:49] #1804 closed

[2019-07-18 19:25] gmullins commented on #1775
I love it too! Excited about this page.
A highlight or breakout section for Upcoming events?
Adding in GIS Community Meetings?

[2019-07-19 20:40] christoball opened #1807 "Adding First Sponsors to Forum Page"
@KCMack Preview ready here:
https://preview.tnris.org/ellwood/133a048e5e8022952aa2612e03978808827287dd/texas-gis-forum/2019/

[2019-07-19 20:53] KCMack commented on #1807
Looks good to me!

[2019-07-22 16:37] #1807 closed

[2019-07-23 17:06] #1712 closed

[2019-07-23 17:07] #1713 closed

[2019-07-23 17:07] #1714 closed

[2019-07-23 17:08] #1715 closed

[2019-07-23 17:08] #1716 closed

[2019-07-23 22:50] KCMack opened #1811 "Add sponsor to Forum website"
GeoComm has registered to sponsor at the Silver level.

Please add them to the site.

[2019-07-24 16:11] christoball commented on #1811
@KCMack preview ready.

Geocomm added:
https://preview.tnris.org/ellwood/a825dfb1b90b9aedb3fc68bd1d51c92465895936/texas-gis-forum/2019/

A La Carte updated:
https://preview.tnris.org/ellwood/a825dfb1b90b9aedb3fc68bd1d51c92465895936/texas-gis-forum/2019/sponsors-and-exhibitors/#additional-sponsors

[2019-07-24 16:16] KCMack commented on #1811
Both changes look great!

[2019-07-24 18:59] #1811 closed

[2019-07-30 13:42] ThorTheDestroyer commented on #1779
@mitchellryant Please check the usgs S3 directory for the Eastern Texas DEM collections.

[2019-07-30 13:44] ThorTheDestroyer commented on #1779
Bucket Name: usgs-lidar
Bucket Region: US West (Oregon)

[2019-07-30 15:34] mitchellryant commented on #1779
(cli-ve) rmitchel-18415:~ rmitchel$ aws s3 ls s3://usgs-lidar/
**An error occurred (AccessDenied) when calling the ListObjects operation: Access Denied**

[2019-07-31 14:29] mitchellryant commented on #1779
what am i looking for again? here is everything from s3://prd-tnm/StagedProducts/Elevation/OPR/

TX_East-UTM14_2017/
TX_East-UTM15_2017/
TX_Eastern_B1_2018/
TX_Eastern_B2_Z14_2018/
TX_Eastern_B2_Z15_2018/
TX_Eastern_B3_2018/
TX_Lower_SanBernard_B1_2017/
TX_Lower_SanBernard_B2_2017/
TX_Lower_SanBernard_B3_2017/
TX_Lower_SanBernard_B4_2017/
TX_Lower_SanBernard_B5_2017/
TX_Lower_SanBernard_B6_2017/
T

[2019-07-31 14:40] KCMack opened #1814 "Additional sponsor"
CARTO has registered to be a sponsor in the a` la carte category.  They have committed to support the purchase of lanyards.  Their logo was approved by Chris yesterday.

Please note that the lanyard option has been taken.

[2019-07-31 15:55] mitchellryant commented on #1779
@ThorTheDestroyer all OPR dems have been downloaded.

[2019-07-31 20:55] ilyannakadich opened #1816 "Replace parcel report on website"
@christoball   Chris, AppGeo added the date to the title page of the original parcel study report and supplement.  I'm not sure of all of the locations of the hyperlink to these on the website.  Can you please replace them all with these versions with underscore date please?

M:\Admin\Projects\Statewide_Parcel_Initiative\Final Report\Texas Statewide Parcel Data Report - Supplement_date.pdf

M:\Adm

[2019-07-31 22:29] christoball commented on #1814
@KCMack lanyard has been marked as claimed, preview here:
https://preview.tnris.org/ellwood/4e1d2ca5314407ca8fdc4f84a60d0338ecbb99d5/texas-gis-forum/2019/sponsors-and-exhibitors/

[2019-08-01 15:06] LaurenKirk opened #1817 "new dataset: 2019 CapArea Brazos Orthoimagery"
not sure if I assigned all tasks to the right people.  Also not sure if i'm missing any tasks.  Please update if need be.

Data
- [ ]   Route Data Shipment [copy data to TNRIS Projects share] @LaurenKirk
- [ ]  Data Processing [renaming file, data organization @LaurenKirk
- [ ]   Quality Assurance @LaurenKirk

DataHub
- [ ]  Create collection @mitchellryant
- [ ]   Complete console collection form

[2019-08-01 15:10] LaurenKirk commented on #1817
@mitchellryant I copied all of the GeoTIFF files to this location: R:\StratMap\Orthoimagery\2019CapArea_Brazos\Final

They are parsed about by AOI A & B and by resolution.

[2019-08-01 19:36] christoball commented on #1816
@ilyannakadich they are in a few places but I replaced the files so they will be correct whereever.

You can see the updated versions in the GIO documents section:
https://preview.tnris.org/haish/0054dffdee3e0f62ac9aa6b69737b06c352fb455/geographic-information-office/#gio-reports

[2019-08-01 19:57] christoball commented on #1775
Latest version: https://preview.tnris.org/glidden/3dcd57d1061d1510ff8b10b0f4ecbe1978a8f2fd/events/

@gmullins to answer your questions
1. This page is meant for TNRIS hosted/produced events only. We may have enough events for a full calendar but I wouldn't want to include this at this point.

2. I've added the next upcoming GIS Community Meetings but don't think it needs a whole section like the o

[2019-08-01 20:29] KCMack commented on #1775
Looks good

[2019-08-01 20:31] KCMack commented on #1814
looks great!

[2019-08-01 20:32] gmullins commented on #1775
Agreed!

[2019-08-01 20:32] ilyannakadich commented on #1816
Looks good @christoball

[2019-08-01 23:26] KCMack opened #1821 "Forum - Sanborn Silver Sponsor"
Please add Sanborn Map Company as a Silver Sponsor
And, Sanborn will sponsor the Wednesday breakfast

[2019-08-02 14:44] christoball commented on #1814
closed in #1819

[2019-08-02 14:44] #1814 closed

[2019-08-02 15:01] christoball commented on #1821
Sanborn added, and one wednesday breakfast marked as claimed.

@KCMack preview available here:
https://preview.tnris.org/ellwood/105246d67fe2e0a90e4db4a6b5d83d06664e83d7/texas-gis-forum/2019/sponsors-and-exhibitors/

[2019-08-02 15:03] KCMack commented on #1821
Thank you, looks great!

[2019-08-02 15:06] #1816 closed

[2019-08-02 15:22] #1821 closed

[2019-08-02 19:53] christoball opened #1823 "Refresh StratMap Home August 2019"
Add Parcel and Address points Graphic, update latest data releases

[2019-08-02 20:41] KCMack opened #1824 "Training page changes"
Please change the status from OPEN to CLOSED for the following courses:
Collector and Survey 123 for ArcGIS - Field Data Collection
ArcGIS Pro Quick Start for the GIS Professional
Geoprocessing with ModelBuilder for ArcGIS Pro

The spreadsheet has been updated.

[2019-08-05 13:18] gmullins opened #1825 "StratMap Contracts page broken link fixes"
Merrick Vendor Contract page
https://www.merrick.com/services/geospatial-services/

RazorTek Vendor Contract page
https://www.razor-tek.com/tx-dir-info

Thanks!!

[2019-08-05 16:27] christoball commented on #1825
@gmullins Links updated, preview here:
https://preview.tnris.org/ellwood/49b73aebdc744c908c868e0e35c693618fb456e9/stratmap/stratmap-contracts/

[2019-08-05 16:28] christoball commented on #1824
@KCMack training updated on page and front page, preview here:
https://preview.tnris.org/ellwood/49b73aebdc744c908c868e0e35c693618fb456e9/education/

[2019-08-05 16:46] KCMack commented on #1824
Looks perfect!

[2019-08-05 18:23] gmullins commented on #1825
Look good to me!

[2019-08-05 19:48] #1824 closed

[2019-08-05 19:56] christoball commented on #1825
closed in #1827

[2019-08-05 19:56] #1825 closed

[2019-08-06 11:59] mitchellryant commented on #1817
@gmullins i have generated an index on the prod drive.

[2019-08-06 19:36] gmullins commented on #1817
@mitchellryant i checked out the index. the 6in are off by one character in the FlightDate column.

[2019-08-06 19:43] mitchellryant commented on #1817
@gmullins fixed

[2019-08-06 19:48] gmullins commented on #1817
@mitchellryant hooray

[2019-08-07 11:07] mitchellryant commented on #1817
@gmullins the areas of collection names are alphabetic

[2019-08-08 21:23] KCMack opened #1830 "Geocortex - Silver Sponsor"
Please add as Silver Sponsor

https://www.geocortex.com/wp-content/themes/latitude/images/logo.svg

[2019-08-09 14:09] gmullins commented on #1817
@christoball Graphics for thumbnail are here: M:\SM\SM Contract\2019 Projects\CapArea_Brazos_Ortho\Graphics or also already in console.

[2019-08-09 18:08] geochik opened #1831 "Upload 3rd Qtr GIS Community PPT"
**Please update GIO news with 3rd Qtr meeting slides.** The additional slide deck was a presentation by TxDOT and should also be included. The accompanying text is as follows:

Slides: Texas GIS Community Meeting 2019 3rd Quarter - The 3rd Quarter GIS Community meeting was held on July 23, 2019 at the Department on State Health Services. Michael Chamberlain of Texas Department of Transportation pr

[2019-08-09 18:13] geochik opened #1832 "Update Past 4 GIS Community Notes Postings"
**Slides: Texas GIS Community Meeting 2018 3rd Quarter** - The 3rd Quarter GIS Community Meeting was held on July 24, 2018 at Texas Parks and Wildlife Department headquarters in Austin, TX. Roll Call notes are listed in Slide 13 notes section. Attendees were invited to give lightning talks. Notes on the talks can be found on Slide 14.

**Slides: Texas GIS Community Meeting 2019 1st Quarter** - The

[2019-08-09 18:38] geochik opened #1833 "Update GIO Calendar"
Remove:
- 3rd Quarter Meeting
- Geographic Names Conference

Add:
- Alamo Area GIS 3rd Annual Professional GIS Conference
  September 18-19, 2019
  Hilton San Antonio Hill Country
  9800 Westover Hills Boulevard
  San Antonio, TX 78251
  Website: http://www.aagis.org/conference/

- Texas GIS Forum
  October 21-25, 2019
  UT Commons Learning Center
  10100 Burnet Road
  Austin, TX 78753
  Website:

[2019-08-09 19:01] gmullins commented on #1817
@christoball Here is the data story content and graphics.
![2019_caparea_6in_cir_1to900_downtownaustin_20190112](https://user-images.githubusercontent.com/4921113/62802663-0a378f80-baae-11e9-9b58-dee5af04f599.jpg)
![2019_caparea_6in_nc_1to600_zilkerpark_20190112](https://user-images.githubusercontent.com/4921113/62802665-0ad02600-baae-11e9-95c0-22e70b11b76c.jpg)
![2019_caparea_6in_nc_1to650_austin

[2019-08-09 19:03] gmullins commented on #1817
Some graphics were bigger than 10MB. They are here: M:\SM\SM Contract\2019 Projects\CapArea_Brazos_Ortho\Web_Announce\Graphics

[2019-08-09 22:39] KCMack opened #1834 "Status Change to Close"
Please update the status for the 8/20 class  Editing with ArcGIS 10
From: OPEN
To: CLOSED

the spreadsheet has been updated

[2019-08-12 15:56] ThorTheDestroyer opened #1835 "StratMap lidar page typos"
In the first paragraph, temporal and terrestrial are spelled wrong(see below for reference of their location).

Lidar - Light Detection and Ranging, is a remote sensing technique that utilizes light in the form of a rapidly pulsed laser to measure return distances from the Earth captured by a sensor at the source of the pulse. These combined pulse return measurements with additional spatial and **

[2019-08-12 16:48] christoball commented on #1835
@ThorTheDestroyer made that edit, preview here:
https://preview.tnris.org/haish/e8f15c60cc13d3e618f4d24690c2ecebf041ebdc/stratmap/elevation-lidar/

[2019-08-12 16:53] christoball commented on #1832
@geochik where are the slides for this?

[2019-08-12 17:30] christoball commented on #1834
@KCMack the spreadsheet still says open. I just want to make sure that its supposed to be closed or if anything changed.

[2019-08-12 17:41] geochik commented on #1832
[2018 3rd Quarter.docx](https://github.com/TNRIS/tnris.org/files/3493657/2018.3rd.Quarter.docx)
[2019 1st Quarter.docx](https://github.com/TNRIS/tnris.org/files/3493666/2019.1st.Quarter.docx)
[2019 2nd Quarter.docx](https://github.com/TNRIS/tnris.org/files/3493667/2019.2nd.Quarter.docx)

[2019-08-12 18:21] christoball commented on #1830
@KCMack GeoCortex added to bottom silver sponsors. Preview here:
https://preview.tnris.org/ellwood/187d15e586a87d0493fa97b01cb2b1a6618d57cf/texas-gis-forum/2019/

[2019-08-12 18:52] KCMack commented on #1830
Thanks.  It looks great!

[2019-08-12 18:55] KCMack commented on #1834
Sorry.  I closed it now in the spreadsheet.

[2019-08-12 19:33] geochik opened #1836 "Add Draft GIS Forum Agenda"
Draft agenda for posting to GIS Forum page. Please mark clearly as "DRAFT" or "Pending Final Approval" or "Agenda subject to change"

[2019 Draft Web Agenda.docx](https://github.com/TNRIS/tnris.org/files/3494024/2019.Draft.Web.Agenda.docx)

Setting a due date of 8/15.

[2019-08-12 19:42] christoball commented on #1834
@KCMack front training and CSV updated, preview here:
https://preview.tnris.org/ellwood/1c7568e979a6af3d7d6b3a032341e4c6cc03ecbd/education/

[2019-08-12 20:04] KCMack commented on #1834
Looks good.  Thank you.

[2019-08-12 20:26] KCMack opened #1838 "Add workshop to Forum training"
Please add JD Godchaux's workshop content to the website.  Date/time Tuesday 1:00 - 5:00  The spreadsheet has been updated.

![JDG_headshot](https://user-images.githubusercontent.com/4912083/62895869-6fd98500-bd15-11e9-9468-77648215d180.jpg)

[2019-08-12 20:56] christoball commented on #1832
@geochik Do you have the roll call notes from the most recent?

[2019-08-12 21:49] geochik commented on #1832
Yes! Sorry for the oversight.
[2019 3rd Quarter.docx](https://github.com/TNRIS/tnris.org/files/3494466/2019.3rd.Quarter.docx)

[2019-08-12 22:52] christoball commented on #1833
@geochik Is the forum the 4th quarter meeting? I think it should be highlighted as such in some way. See preview:
https://preview.tnris.org/ellwood/154bf1d55f403b99a1dafc0f3907ae6fabaee037/geographic-information-office/

[2019-08-13 12:11] #1830 closed

[2019-08-13 12:11] #1834 closed

[2019-08-13 14:17] KCMack opened #1839 "Sponsor update 8.13.19"
Please move Tyler Technologies from Exhibitor to Silver Sponsor.

[2019-08-13 18:24] geochik commented on #1833
Yes, yes! We should also add the same sentence to the 2019 3rd quarter summary text.

[2019-08-13 18:25] christoball commented on #1833
@geochik add which sentence?

[2019-08-13 18:42] mitchellryant opened #1840 "Map updates"
please change the url for these maps on the following pages,

https://tnris.org/news/2018-04-30/lidar-release-jefferson-liberty-counties/
https://tnris-twdb.carto.com/u/tnris/builder/1f82d0b8-4936-4ea7-af1e-4086b9181422/embed

https://tnris.org/news/2018-04-02/lidar-release-central-texas/
https://tnris-twdb.carto.com/u/tnris/builder/525a47fe-4e54-4a4a-a074-449aa3022c48/embed

https://tnris.org/con

[2019-08-13 18:55] geochik commented on #1833
"**_The Annual Texas GIS Forum Serves as the 4th Quarter Community Meeting._**"

[2019-08-13 18:59] ThorTheDestroyer commented on #1835
Looks good, thank you.

[2019-08-14 12:19] #1835 closed

[2019-08-14 15:44] christoball commented on #1839
@KCMack Tyler added, preview here:
https://preview.tnris.org/ellwood/3e530c6227e5e71943cbc4524ec443f808b72d5a/texas-gis-forum/2019/

[2019-08-14 15:46] christoball commented on #1840
@mitchellryant previews ready:

### Jefferson Liberty
https://preview.tnris.org/ellwood/3e530c6227e5e71943cbc4524ec443f808b72d5a/news/2018-04-30/lidar-release-jefferson-liberty-counties/

### Central Texas
https://preview.tnris.org/ellwood/3e530c6227e5e71943cbc4524ec443f808b72d5a/news/2018-04-02/lidar-release-central-texas/

### Contact Page
https://preview.tnris.org/ellwood/3e530c6227e5e71943cbc4

[2019-08-14 16:04] mitchellryant commented on #1840
@christoball looks great and thanks for correcting my mistake.

[2019-08-14 16:31] KCMack commented on #1839
Thank you.  Look great

[2019-08-14 18:06] #1840 closed

[2019-08-14 18:06] #1839 closed

[2019-08-14 18:18] christoball commented on #1833
Resolved in #1837

[2019-08-14 18:18] #1833 closed

[2019-08-14 18:20] christoball commented on #1831
Combined into #1832

[2019-08-14 18:20] #1831 closed

[2019-08-14 18:42] christoball commented on #1838
@KCMack workshop added, preview here:
https://preview.tnris.org/ellwood/0a4309bf2cd4d8e98f5735ef9946ebc52423aaaf/forumtraining2019/exploring-spatial-data-science-analysis-and-workflows-in-python/

[2019-08-14 18:48] KCMack commented on #1838
Looks good, but in the last sentence after laptop, the word environment is misspelled.  Please correct it.

[2019-08-14 18:50] christoball commented on #1838
@KCMack I'll fix it, the typo is on the spreadsheet.

[2019-08-14 18:55] KCMack commented on #1838
Thank you.  The error is mine alone.

[2019-08-14 19:28] ThorTheDestroyer opened #1844 "Missouri City 2019"
**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create collection @mitchellryant
- [x] C

[2019-08-14 21:43] christoball commented on #1838
@KCMack fixed it should be ready to go:
https://preview.tnris.org/ellwood/b400c5c8236d5da53591c0a584bd116f8f8d9854/forumtraining2019/exploring-spatial-data-science-analysis-and-workflows-in-python/

[2019-08-14 21:44] KCMack commented on #1838
Terrific.  Thank you.

[2019-08-15 12:25] #1838 closed

[2019-08-16 16:31] ilyannakadich opened #1848 "Beta QC - Land Parcel page"
- Hyperlinks in FAQ section not working.

- Hyperlink for parcel study report does a download rather than a preview (like the GIO report)

[2019-08-16 16:33] ilyannakadich opened #1849 "Beta QC - Programs tab on main page"
- Programs tab does not reveal all of the pages available

[2019-08-16 16:38] adambreznicky commented on #1849
this is done intentionally. the footer is a sitemap breakdown of every page. on the contrary, the header tab is for quicklinks to website "section" landing pages.

[2019-08-16 16:38] #1849 closed

[2019-08-16 16:38] ilyannakadich opened #1850 "Beta QC - Address Point contact"
Can we add some verbiage to guide users to visit the program page before submitting a question?  Often the questions asked are answered on the program page and the user may not be aware of it if they came through the DataHub page.

https://data.tnris.org/collection/c56ff69b-efe7-46e7-89c7-43e655188382

Current:
"For questions about the Address Points dataset, please complete the form below. Orders

[2019-08-16 16:43] ilyannakadich opened #1851 "Beta QC - Land Parcels contact"
Can we add some verbiage to guide users to visit the program page before submitting a question?  Often the questions asked are answered on the program page and the user may not be aware of it if they came through the DataHub page.

https://data.tnris.org/collection/2679b514-bb7b-409f-97f3-ee3879f34448

Current:
"For questions about the Land Parcels dataset, please complete the form below. Orders f

[2019-08-16 16:48] adambreznicky commented on #1851
unfortunately, no we cannot. the verbiage used on said contact form in datahub is templated and is applied to every dataset equally. one-off customization for the dataset is currently out of scope. we apologize for the inconvenience.

we suggest putting your recommended language into the dataset description. you can update the description for your dataset by logging into the api.tnris.org admin co

[2019-08-16 16:48] #1851 closed

[2019-08-16 16:48] adambreznicky commented on #1850
unfortunately, no we cannot. the verbiage used on said contact form in datahub is templated and is applied to every dataset equally. one-off customization for the dataset is currently out of scope. we apologize for the inconvenience.

we suggest putting your recommended language into the dataset description. you can update the description for your dataset by logging into the api.tnris.org admin co

[2019-08-16 16:48] #1850 closed

[2019-08-16 18:38] ThorTheDestroyer opened #4 "Beta QC-StratMap Page"
Can we add a thumbnail link to the  Lidar status map on the Stratmap landing page?

[2019-08-16 18:38] ThorTheDestroyer opened #1852 "Beta QC-StratMap Page"
Can we add a thumbnail link to the  Lidar status map on the Stratmap landing page?

[2019-08-16 18:49] ThorTheDestroyer opened #1853 "Beta QC-StratMap Lidar page"
I'm thinking we should either remove or change the below language.

### StratMap Lidar Datasets
All lidar datasets are available at reproduction cost through our Research and Distribution center. They can be obtained by visiting the DataHub.

Maybe we can change it to something along the lines of the below edit.

### Bulk Copies of StratMap Lidar Datasets
Bulk copies of all lidar datasets are avai

[2019-08-16 18:51] ThorTheDestroyer commented on #1853
All links, graphics and text look  good on the page.

[2019-08-16 18:55] ThorTheDestroyer opened #5 "Beta QC- Hydrography"
Can we change the _Overview of the Watershed Boundary Dataset_ picture so that when it is clicked on it will pop out larger or change the size of the image? At the moment you can't read any of the numbers for the huc boundaries.

[2019-08-16 18:55] ThorTheDestroyer opened #1854 "Beta QC- Hydrography"
Can we change the _Overview of the Watershed Boundary Dataset_ picture so that when it is clicked on it will pop out larger or change the size of the image? At the moment you can't read any of the numbers for the huc boundaries.

[2019-08-16 18:56] ThorTheDestroyer commented on #1854
All other links, text and graphics look good.

[2019-08-16 19:01] adambreznicky commented on #1848
resolved via commit c6f9a6e584477c416f563920a824082f97de137b
hyperlinks added to faq as is prod
'Content-Type' for the parcel study pdf was incorrect from the admin console upload. it has manually been adjusted to 'application/pdf' and an issue created in the api.tnris.org repo to enhance the upload function to handle this in the future

[2019-08-16 19:01] #1848 closed

[2019-08-16 20:16] christoball opened #1856 "GIO Calendar API Proposal"
Consider developing GIO calendar into its own section in the API for adding events

add table to api.tnris.org for managing gio events in the admin console

[2019-08-19 14:11] pwblanton opened #1857 "Beta QC RDC Page"
https://beta.tnris.org/research-distribution-center/
Services should be bulleted list. Thanks.

[2019-08-19 17:49] christoball commented on #1836
@KCMack Will there be HOLL courses this year? We usually highlight them like this:
![image](https://user-images.githubusercontent.com/1877550/63287360-c39d1e80-c27f-11e9-9f68-af66d5fdd820.png)

[2019-08-19 20:27] mitchellryant opened #1859 "new dataset: USGS South Texas"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [ ] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDestroyer

**Data

[2019-08-19 20:34] KCMack commented on #1836
Yes, there will be HOLL courses in the Balcones Room on Wednesday and Thursday.  I don't have the list of courses yet.  The way you have it listed looks terrific until the specific list arrives..

[2019-08-20 16:21] KCMack opened #1860 "Abstract for Tribal GIS"

[2019-08-20 16:28] KCMack commented on #1860
Session B, Thursday  morning Tribal GIS for Transportation Planning
The Texas Tribal Histories Project is an effort to better inform statewide transportation planning between TxDOT and the 27 Native American tribes that participate in consultation with TxDOT. This effort includes development of GIS datasets for natural resources and traditional cultural places that each participating tribe conside

[2019-08-20 19:22] jwhaney opened #6 "new header elements -- need to adjust breakpoint for mobile"
__less than 992px wide and greater than 767px wide__

within this pixel width range the new additions to the header (>Events and Geographic Information Office) cause the header to double up in height. see below photo. need to alter breakpoint so all header elements collapse into mobile hamburger menu.

![image](https://user-images.githubusercontent.com/13525011/63377347-93c04a80-c355-11e9-8f77-419

[2019-08-20 19:22] jwhaney opened #1861 "new header elements -- need to adjust breakpoint for mobile"
__less than 992px wide and greater than 767px wide__

within this pixel width range the new additions to the header (>Events and Geographic Information Office) cause the header to double up in height. see below photo. need to alter breakpoint so all header elements collapse into mobile hamburger menu instead of doubling up.

![image](https://user-images.githubusercontent.com/13525011/63377347-93c0

[2019-08-20 20:46] christoball commented on #1860
combined into #1836

[2019-08-20 20:46] #1860 closed

[2019-08-20 20:47] christoball commented on #1836
@KCMack @geochik @gmullins Forum web Agenda available for preview:
https://preview.tnris.org/ellwood/f3d288d36ded00894a5103b74a2d40fbd4a78606/texas-gis-forum/2019/agenda/

[2019-08-21 01:44] geochik commented on #1836
Looks good. I found one thing. There is a presenter name on Thursday in Li'l Tex, last session, 11:30-12:00.
![PresenterName](https://user-images.githubusercontent.com/7750220/63395998-3810b400-c38b-11e9-9950-a73684f095c3.JPG)

[2019-08-21 13:43] adambreznicky commented on #1856
added table to api.tnris.org for managing calendar events in the admin console. prepopulated with the current ones on the website. we can get together in a bit to go over creating a frontend component for it

[2019-08-21 13:50] KCMack commented on #1836
Good catch!

I’ve not had a chance to review the preview, so I’ll be the back up plan after requesting the name be removed from this session.

Did you have any comments about the brevity or length of the presentation descriptions?

Hope you receive the information you want today.  Sending healing vibes.

KCM

Kathleen C. Mack
Operations Manager
Texas Natural Resources Information System
A division

[2019-08-21 14:36] KCMack opened #1862 "Sponsorship updates Exhibitors and A la Carte"
Add:
Exhibitor -USGS Water Science Center
Exhibitor - Tessellations

Both Wednesday and Thursday b'fast have been claimed

[2019-08-21 15:39] KCMack commented on #1862
Mark all Platinum Sponsorship claimed

[2019-08-21 16:30] gmullins commented on #1836
Strategic Mapping - Celebrating Successful Public and Private Partnerships

@christoball Please add the s to Partnerships

[2019-08-21 16:35] christoball commented on #1836
@KCMack @geochik @gmullins latest draft, look ready to go yet?
https://preview.tnris.org/ellwood/2f0a0d054a298d083b5257eece2e2289ca7b0bd5/texas-gis-forum/2019/agenda/

[2019-08-21 16:36] christoball commented on #1862
@KCMack Sponsorship page updates - platinum marked as taken, added exhibitors in bottom sponsors:
https://preview.tnris.org/ellwood/2f0a0d054a298d083b5257eece2e2289ca7b0bd5/texas-gis-forum/2019/sponsors-and-exhibitors/

[2019-08-21 18:25] gmullins commented on #1836
There's a < here: <Moderated by...

Does the GIS Leadership abstract text need to be there or popped out like the rest?

Are we going to provide presenter names?

I don't understand 'City Smarts GIS' Should it be 'Smart Cities GIS'?

Can we change this _Parcels, Address Points, Future Lidar Roadmap, Texas Orthoimagery Program, Texas Imagery Service, and the National Agriculture Imagery Program_ to

[2019-08-21 19:40] christoball commented on #1836
@gmullins
- I'll fix that
- The short descriptions are ket for the bigger sessions and keynotes
- We aren't providing presenters yet.
- I think it should be GIS City Smarts, if it's trying to play off the phrase 'city smarts'.
- changed it

[2019-08-21 22:07] KCMack opened #1863 "TNRIS Training August Classes"
Please change the status from OPEN to CLOSED for
Python for Data Science 1: Python Programming and Efficient Data Management (PANDAS)

The spreadsheet has been updated.

[2019-08-22 11:45] pwblanton opened #1864 "Beta - Texas Geographic Names Committee"
1. Uncapitalize the word "State" in the second line of the introductory sentence.
2. Spell out United States instead of abbreviating it in the third line of the introductory sentence. United States is spelled out throughout the rest of the document.
3.. Suggest starting the third paragraph with the acronym, "COGNA", instead of spelling it out, since you did that in the introductory sentence.

Than

[2019-08-22 11:48] pwblanton opened #1865 "Beta - About TNRIS page"
1. Spell out TNRIS the first time.
2. Add the word "Texas" in the first sentence before the word "Legislature".
3. Who we are  - Start sentence with "TNRIS is" a reliable...

Thanks!
Patricia

[2019-08-22 12:06] pwblanton opened #1866 "Beta - Texas GIO page"
1. Insert "(TNRIS)" at the end of the first sentence, following "to be the Director of the Texas Natural Resources Information System.".
2. Spell out GIS in the second paragraph the first time it's used and add parentheses around (GIS). Both of these occur in the second paragraph, second sentence.
3. Suggest using the word 'accomplishes' in the second paragraph, third sentence instead of the word

[2019-08-22 12:43] gmullins commented on #1836
@christoball Thanks for all! I need to educate myself on the 'city smarts' phrase :) No other comments/suggestions from me. I think it's ready to go.

[2019-08-22 14:14] KCMack commented on #1862
Looks good.
Thanks

[2019-08-22 14:19] KCMack commented on #1836
Comment about the use of caps versus lower case.  Think we need to be consistent on the program even though the content provided was not consistent.

[2019-08-22 15:54] #1836 closed

[2019-08-22 15:54] #1862 closed

[2019-08-22 15:54] #1863 closed

[2019-08-22 16:14] adambreznicky commented on #1866
resolved commit #1063bf20eb1bc042f35c93f3b92a7d65b529652c

[2019-08-22 16:14] #1866 closed

[2019-08-22 16:17] adambreznicky commented on #1865
resolved via commit 29712e4cae5d3100bf5e74394ed7c8278d3ded05

[2019-08-22 16:17] #1865 closed

[2019-08-22 16:20] adambreznicky commented on #1864
resolved via commit 3a1d64974d195fcb55cc1ae59d042fd6315c2ad6

[2019-08-22 16:20] #1864 closed

[2019-08-22 16:22] adambreznicky commented on #1857
resolved via commit 8c4ef0d5238bb4141a46a2a1f1aae9444d860f2a

[2019-08-22 16:22] #1857 closed

[2019-08-22 16:25] adambreznicky commented on #1853
resolved via commit e84a248d69a15dba98556b95581c39600433ff4b

[2019-08-22 16:25] #1853 closed

[2019-08-22 16:29] adambreznicky commented on #1823
i think the latest data releases should be updated to a dynamic, api fed list like the 'latest datasets' addition to the site homepage. i can work with @christoball to get the proper api query to accomplish this. **thumbs up emoji**

[2019-08-22 16:30] adambreznicky commented on #1856
trained @geochik this morning on the admin console. she will begin adding events to the table so the current calendar partials will be automatically up-to-date when we jump into production

[2019-08-23 16:12] mitchellryant commented on #1844
no images.
lookup and links needs to be filled out

[2019-08-23 18:58] KCMack opened #1870 "Two additional Exhibitors"
Please add as Exhibitor level sponsor:

U.S. Geological Survey Texas Water Science Center
![image](https://user-images.githubusercontent.com/4912083/63616781-eeec7a00-c5ad-11e9-923d-64689b3ef374.png)

Miller Imaging & Digital Solutions
https://www.google.com/maps/uv?hl=en&pb=!1s0x8644cbf731c0b61f%3A0xafbee58c1b7bf091!2m22!2m2!1i80!2i80!3m1!2i20!16m16!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1

[2019-08-23 20:34] christoball commented on #1870
@KCMack Exhibitors added to bottom sponsor section on forum site, preview here:
https://preview.tnris.org/ellwood/5aa8a6b3c0c8478b04151f35f8d24d1bf152dba8/texas-gis-forum/2019/

[2019-08-23 20:36] csidenblad opened #1871 "Formatting for Acquiring Agencies"
The Historical Imagery Archive page has a number of acquiring agencies that need to have the formatting adjusted. Would like the name of agency to be above sample image (i.e. similar to USGS and GLO entries)
![image](https://user-images.githubusercontent.com/23489372/63622210-ac319e80-c5bb-11e9-99af-2b35162d72e3.png)

[2019-08-23 20:55] KCMack opened #1872 "Remove duplicate Exhibitor"
Please remove USGS Water Science Center from list of Exhibitors

[2019-08-26 12:24] #1823 closed

[2019-08-26 12:24] #1870 closed

[2019-08-26 12:24] #1872 closed

[2019-08-26 12:38] mitchellryant commented on #1861
Meeting has been set with GIO, StratMap, and Design to discuss header.

Design session to discuss header on tnris.org.
Bring Ideas, Bring Solutions, Open your heart and let your feelings out.
Leave your negativity at the conference Room Door!

[2019-08-26 12:46] adambreznicky commented on #1871
resolved via commit e1ddc154ec2d92a17c47ddbda6720b7de7ed17a8

[2019-08-26 12:46] #1871 closed

[2019-08-26 19:31] christoball opened #8 "StratMap latest data releases API"
Make StratMap Latest Data Releases draw from API

[2019-08-28 14:05] ThorTheDestroyer opened #1877 "2019 StratMap Lidar Projects"
https://github.com/TNRIS/tnris.org/blob/haish/content/markdown/news/2019-08-28_2019-Brown-County-and-Missouri-City-lidar-release.md

[2019-08-28 17:25] ilyannakadich opened #1878 "Update Land Parcels website"
@christoball , Please replace the intro on the Land Parcels website with the below verbiage.  I had FDR and GM review already.  I'm open to further input.  This is our short term (this week) solution for the new standardized version of data.  I will be working with you on the long term (before Forum) version in September.  Thank you!

In collaboration with stakeholders from across Texas, TNRIS cre

[2019-08-28 18:48] KCMack opened #1879 "2 Additional Exhibitors"
Please add:
Austin Community College, GIS and Geospatial Engineering Departments

TeachMeGIS

[2019-08-28 21:32] christoball commented on #1879
@KCMack exhibitors added, preview here:
https://preview.tnris.org/ellwood/361a36ff00a8eaf6d977e6034ec2967525b87ef5/texas-gis-forum/2019/

[2019-08-28 22:55] KCMack commented on #1879
Any chance the ACC information can be on one line?  Or, maybe it's too long.

[2019-08-29 13:32] ilyannakadich commented on #1878
Trying to not say attributes.  How about

This format of land parcel data consists of the most commonly utilized information as determined by the land parcel committee.

[2019-08-29 14:23] mitchellryant opened #1880 "GIS Forum Training"
A form has been submitted from: https://tnris.org/contact/

Form parameters
==================

form_id: contact
Reason: General Question or Comment
Question or Comments: Description for 2019 TX GIS Forum workshop "Using ArcGIS and Open Source" refers to "**Juniper Notebook**" .... should that actually be "**Jupyter Notebook**"?

Name: Roberto Anaya
Email: Roberto.Anaya@twdb.texas.gov
Phone: 51246

[2019-08-29 14:46] KCMack commented on #1880
Please change the spelling of Jupyter Notebook - the spreadsheet has been updated to reflect this change.

[2019-08-29 15:37] christoball commented on #1880
Updated it in current site and api

@KCMack preview here:
https://preview.tnris.org/ellwood/270bcdcd8730eb0a4601aca55035aeda3401d5c8/

[2019-08-29 16:34] christoball commented on #1879
@KCMack yes, i've fixed that. Preview here:
https://preview.tnris.org/ellwood/b7c630b8f91e0e36fef29810c733f108ce38c693/texas-gis-forum/2019/

[2019-08-29 18:48] KCMack commented on #1879
Thank you very much!

[2019-08-29 19:50] christoball commented on #1878
@ilyannakadich latest preview below.

https://preview.tnris.org/ellwood/8abc0538e0d9f835a8795083538f4ad77697a771/stratmap/land-parcels/

[2019-08-29 20:02] ilyannakadich commented on #1878
@christoball Looks great!

Can you please hyperlink the report to this August 2019 report from AppGeo?  M:\SM\Parcels\AppGeo\Update on Digital Parcel Data in Texas_Final Version.pdf

[2019-08-29 20:16] christoball commented on #1878
@ilyannakadich I'm on my way out and won't be able to do that. @jwhaney or another member of the IS team may be able to help you while I'm gone.

In the future please include any documents that need to be uploaded or linked to when the issue is created and specify what text needs to link to it.

[2019-08-29 22:22] ilyannakadich commented on #1878
@christoball @jwhaney If it cannot be uploaded then please remove the hyperlink as it is pointed to the wrong document.  We can add it later - no problem.

[2019-08-30 15:30] adambreznicky opened #9 "prod build warning"
when running a prod build, command `npm run dist`, the console displays the deprecation warning below.
this is most likely occurring due to a method being used in the gulpfile. the fact that it doesn't appear when running a dev build indicates that there is a good chance it's from a method in a gulp task only being used in the prod build and not the dev build. if not, it may be webpack config rela

[2019-08-30 15:30] adambreznicky opened #1881 "prod build warning"
when running a prod build, command `npm run dist`, the console displays the deprecation warning below.
this is most likely occurring due to a method being used in the gulpfile. the fact that it doesn't appear when running a dev build indicates that there is a good chance it's from a method in a gulp task only being used in the prod build and not the dev build. if not, it may be webpack config rela

[2019-08-30 17:08] adambreznicky commented on #1844
major updates to tnris.org have been pushed to production. parallel to this update is the permanent implementation of the standard workflow using issues for all website updates and the removal of tnris non-is team editing ability to the repo. in pushing this update to the Haish branch, i noticed the below article/change pushed by joey. these changes have been thrown out as they conflict with the n

[2019-08-30 17:32] adambreznicky commented on #1880
we have deployed the new tnris.org major update verison to production. the use of CSVs for training content management has gone live.
as per the new workflow, @KCMack please log into the api.tnris.org admin console and verify the change has been made as necessary. if it has, it should already be live on tnris.org. If you have any issues, please let us know.

please respond to this thread to confir

[2019-08-30 19:14] adambreznicky commented on #1880
i see the change was made in the api.
closing issue.
thanks all

[2019-08-30 19:14] #1880 closed

[2019-09-03 12:39] mitchellryant commented on #1877
https://github.com/TNRIS/tnris.org/issues/1844

[2019-09-03 15:00] ThorTheDestroyer commented on #1766
Website\datacatalog\images\usgs18-70cm-Lowercoloradosanbernard

pictures are in the directory above

[2019-09-03 19:45] ThorTheDestroyer opened #1882 "USACE 2018 Buffalo Bayou lidar"
**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create collection @mitchellryant
- [ ] C

[2019-09-04 12:32] mitchellryant commented on #1882
@ThorTheDestroyer collection has been created

[2019-09-04 14:43] christoball commented on #1879
resolved in 562c4ebbccf41c9b39d56c5f3004026c230f226e

[2019-09-04 14:43] #1879 closed

[2019-09-04 16:02] gmullins commented on #1878
[Update on Digital Parcel Data in Texas FINAL 20190903.pdf](https://github.com/TNRIS/tnris.org/files/3575430/Update.on.Digital.Parcel.Data.in.Texas.FINAL.20190903.pdf)

[2019-09-04 16:24] #1878 closed

[2019-09-04 16:45] ilyannakadich opened #1884 "Update count on land parcel website"
@christoball or @jwhaney Please update the count and status bar on the Land Parcel website to 232.  Also, please change the color on the Project Timeline of the Fall 2019 box to green.

[2019-09-04 18:23] christoball commented on #1878
This has been resolved with recent move to API. I've also updated the document link in the most recent commit 54abe1485ff69914624e918a2eadb6a547aaaaf2

[2019-09-04 18:24] christoball commented on #1884
@ilyannakadich preview ready we'll go ahead and get asap. I've updated the timeline color and the parcel study update document link.

http://ellwood.tnris.org/stratmap/land-parcels/

[2019-09-04 18:29] ilyannakadich commented on #1884
@christoball @jwhaney Approved!  Thank you :)

[2019-09-04 18:50] #1884 closed

[2019-09-04 19:33] christoball commented on #1832
resolved with recent updates to API

[2019-09-04 19:33] #1832 closed

[2019-09-04 19:33] christoball commented on #1775
Resolved with recent update to API

[2019-09-04 19:33] #1775 closed

[2019-09-04 20:42] christoball opened #1886 "Copy Link URL for DataHub Images"
Can we add a copy link url button on DataHub Images?

This would be useful for incorporating them into articles or other places on the site.

[2019-09-04 21:53] christoball commented on #1877
@ThorTheDestroyer Got a first draft up and going. think I should make the main image show both datasets?

preview here:
http://haish.tnris.org/news/2019-09-06/2018-stratmap-lidar-releases-brown-county-missouri-city/

[2019-09-05 12:14] adambreznicky commented on #1886
can you elaborate about what you mean? are you referring to the api admin console where you upload the images?
i know i had added a copy link url button for the tnris.org images and docs tables in the admin console. are you imaging something similar for this?

[2019-09-05 12:41] mitchellryant commented on #1877
@ThorTheDestroyer @christoball please remove carto link. it is the wrong area and we are not using carto for coverage maps anymore.

[2019-09-05 14:49] christoball commented on #1886
@adambreznicky "i know i had added a copy link url button for the tnris.org images and docs tables in the admin console. are you imaging something similar for this?"

Yes, that's what I'm thinking. I figure it would make the most sense somewhere under a data collection editing, under the images. Possibly to the right of where the url shows up or below it.

![image](https://user-images.githubuserco

[2019-09-05 14:51] adambreznicky commented on #1886
right on. that is indeed do-able but it is an enhancement to the backend api.tnris.org and not the website. any issues related to the admin console for the api should be created in the api.tnris.org repo. i'm going to close this issue since it is unrelated to the website. could you please go create the issue in the api.tnris.org repo? uploading your screen shot will help. thanks.

[2019-09-05 14:51] #1886 closed

[2019-09-05 16:33] mitchellryant opened #1887 "NAIP 2018-19"
Data
- [ ] Enter dataset on StratMap Incoming data xlsx sheet @gmullins
- [ ] Route Data Shipment (copy data to TNRIS Projects share) @LaurenKirk
- [x] Data Processing (renaming file, data organization) @mitchellryant
- [x] Creation of derivative products [compressed images] @mitchellryant
- [ ] Quality Assurance @LaurenKirk

DataHub
- [x] Create collection @mitchellryant
- [ ] Complete console co

[2019-09-05 20:02] #1844 closed

[2019-09-05 20:03] #1776 closed

[2019-09-05 20:48] christoball commented on #1877
@mitchellryant i've removed the carto

@ThorTheDestroyer discussed doing a different version of the map that zooms into each respective area. Other than that here is the latest draft:
http://haish.tnris.org/news/2019-09-06/2018-stratmap-lidar-releases-brown-county-missouri-city/

[2019-09-06 14:05] mitchellryant commented on #1887
@gmullins @LaurenKirk @csidenblad i have created a jp2s in both erdas and global mapper to 8:1 please check the quality, and hen we can compress the rest.

[2019-09-06 14:44] gmullins commented on #1887
@mitchellryant Thanks! I want to edit the incoming procedure above. It doesn't look like I can do that anymore.

[2019-09-06 14:49] gmullins commented on #1817
@christoball This is the release I wanted to check with you on. Need anything else from me? Thx!

[2019-09-06 16:52] #1887 closed

[2019-09-06 16:59] #1882 closed

[2019-09-06 19:22] christoball commented on #1817
@gmullins I'll have this prepped on Monday for review and publishing.

[2019-09-09 14:41] KCMack opened #10 "Forum updated agenda 9.9.19"
[9.9.2019 Forum Agenda_Draft.xlsx](https://github.com/TNRIS/tnris.org/files/3591068/9.9.2019.Forum.Agenda_Draft.xlsx)
@christoball

[2019-09-09 14:41] KCMack opened #1888 "Forum updated agenda 9.9.19"
[9.9.2019 Forum Agenda_Draft.xlsx](https://github.com/TNRIS/tnris.org/files/3591068/9.9.2019.Forum.Agenda_Draft.xlsx)
@christoball

[2019-09-09 16:36] KCMack opened #1889 "Bio - M. Pavon"
Miguel A. Pavon was born in Mexico City. His day job is the Special Projects Coordinator for Texas Natural Resources Information System (TNRIS), a division of the Texas Water Development Board. During evenings he teaches at the LBJ School of Public Affairs at the University of Texas in Austin. On weekends, he attempts to catch up with family and make progress on his “honey-do list”, which is an up

[2019-09-09 18:28] christoball commented on #1877
@ThorTheDestroyer I updated the coverage map. If it looks good, i can move forward with publishing:
http://haish.tnris.org/news/2019-09-06/2018-stratmap-lidar-releases-brown-county-missouri-city/

[2019-09-09 18:30] ThorTheDestroyer commented on #1877
Looks good.

[2019-09-09 19:04] mitchellryant commented on #1817
@christoball something like this for a coverage map.

<img width="1742" alt="Screen Shot 2019-09-09 at 2 03 42 PM" src="https://user-images.githubusercontent.com/8459928/64558960-c503b900-d30a-11e9-9608-06c24c61482d.png">

[2019-09-09 19:28] christoball commented on #1817
@mitchellryant That looks good. Can you make the labels larger?

[2019-09-09 19:46] mitchellryant commented on #1817
the labels are part of the basemap and i have no control. i placed a "better" version on m:\ Website/datacatalog/images/stratmap19-caparea-brazos

[2019-09-09 19:48] #1877 closed

[2019-09-09 20:32] christoball commented on #1817
@gmullins 1st preview of article ready:
http://washburn.tnris.org/news/2019-09-11/new-2019-capital-area-aerial-imagery-now-available/

[2019-09-09 21:26] KCMack opened #1891 "2 Silver Sponsors"
Please add:
KCI Technologies
AECOM
to the list of Silver Sponsors
@christoball

[2019-09-09 21:30] christoball opened #12 "add leon keynote to main graphic"
Update main graphic to show leon logothetis

[2019-09-09 21:30] christoball opened #1892 "add leon keynote to main graphic"
Update main graphic to show leon logothetis

[2019-09-09 22:21] christoball commented on #1891
@KCMack preview ready here:
http://glidden.tnris.org/texas-gis-forum/2019/

[2019-09-09 23:09] KCMack commented on #1891
Thank you!

[2019-09-10 12:56] ilyannakadich opened #1893 "Parcel Data Download Availability update to 229"
@christoball Please update the top right side of the Land Parcels web page.  FYI - we removed non-GIS datasets since this program is for GIS data.  So no more kmz or dgn files available for download.

229
of 254 land parcel GIS datasets now available in a common schema.

See available GIS datasets below. To download the land parcel data visit the DataHub.

[2019-09-10 13:57] ilyannakadich opened #14 "Land Parcel website FAQ updates"
@christoball  Please replace the existing FAQs with the attached.
[09102019 FAQs.docx](https://github.com/TNRIS/tnris.org/files/3596003/09102019.FAQs.docx)

[2019-09-10 13:57] ilyannakadich opened #1894 "Land Parcel website FAQ updates"
@christoball  Please replace the existing FAQs with the attached.
[09102019 FAQs.docx](https://github.com/TNRIS/tnris.org/files/3596003/09102019.FAQs.docx)

[2019-09-10 14:08] gmullins commented on #1817
@christoball Looks good! Here are a few items I noticed:

- Missing swiper on top image.

- Apple and Downtown Austin images are missing dates.

[2019-09-10 14:52] #1891 closed

[2019-09-10 14:58] mitchellryant commented on #1817
@christoball i recreated the images with a legend.
m:\
Website/datacatalog/images/stratmap19-caparea-brazos

[2019-09-10 15:02] christoball commented on #1817
@gmullins There is no infrared version provided of that top image. its not in the folder you sent.

[2019-09-10 15:38] christoball commented on #6
In the latest version of the new header I've made some adjustments and the breakpoint doesn't seem to be an issue anymore.

Test here:
https://beta.tnris.org/

[2019-09-10 15:47] adambreznicky commented on #14
@ilyannakadich could you please export your document to a pdf and re-attach to this issue? .doc files are not web friendly or secure. pdf is the ideal format. thanks.

[2019-09-10 15:49] ilyannakadich commented on #14
[09102019 FAQs.pdf](https://github.com/TNRIS/tnris.org-deux/files/3596572/09102019.FAQs.pdf)

[2019-09-10 16:14] ThorTheDestroyer commented on #2
Upper coast was updated several weeks ago with a report.
Jack & Archer report was dropped to due file size restrictions(working on pulling out fluff).
neches basin-report was dropped to to file size restrictions. @mitchellryant breaklines for neches basin exceed file size limit of the api.  Please increase breakline filesize limit to 110MB.

[2019-09-10 16:22] christoball commented on #14
@adambreznicky you're correct that PDFs are better for documents uploading, but she was providing content for the website, not a document upload.

@ilyannakadich Basically, if it's an actual document that will be downloadable on our site, like the land parcel study update doc for example, we prefer PDFs.

When you're providing content that will go on the page, I'm fine with word docs or pasting di

[2019-09-10 16:23] ThorTheDestroyer commented on #2
supplemental reports have been posted.

[2019-09-10 16:32] adambreznicky commented on #14
gotcha! <thumbs up emoji>

[2019-09-10 16:42] ilyannakadich commented on #14
@christoball  Thanks for the clarification!  On that note, can you please hyperlink the words "TNRIS land parcel schema" to the attached pdf document in 3rd and 4th FAQ?

Also, add a link within the website intro sentence on left side "...GIS land parcel schema"

[TNRIS Land Parcel Schema.pdf](https://github.com/TNRIS/tnris.org-deux/files/3596816/TNRIS.Land.Parcel.Schema.pdf)

[2019-09-10 19:40] adambreznicky commented on #2
increasing the breakline upload filesize limit is bad practice and unconventional. the excessive filesize is a special case so we manually uploaded to the bucket and then manually queried to update the database directly. the collection has been updated successfully and the api was refreshed to qc/push the manual update to the frontend. datahub and api admin console both reflect the change.

you're

[2019-09-10 19:49] #2 closed, assigned to ThorTheDestroyer

[2019-09-10 21:36] christoball commented on #13
@ilyannakadich count is updated:
http://washburn.tnris.org/stratmap/land-parcels/

[2019-09-10 21:36] christoball commented on #14
@ilyannakadich the FAQ is now updated:
http://washburn.tnris.org/stratmap/land-parcels/

[2019-09-10 21:39] ilyannakadich commented on #13
@christoball Looks great!  Please remove the extra "of"

[2019-09-10 21:46] ilyannakadich commented on #14
@christoball I made edits throughout the FAQs and prefer a complete replace as to not miss anything. There are four FAQs missing and a few have not been updated.  Should be a total of 12.  Also, the last FAQ has a Contact Us issue - should be TCPA.

[2019-09-10 21:59] christoball commented on #14
@ilyannakadich i did completely replace it there was minor html error that messed something up.

Fixed it: http://washburn.tnris.org/stratmap/land-parcels/

[2019-09-10 22:08] ilyannakadich commented on #14
@christoball  One small edit on the first FAQ:  What is a geographic parcel? should be

What is a geographic land parcel?

The rest looks great!

[2019-09-10 22:12] christoball commented on #14
@ilyannakadich got it. fixed and moving forward to production.

http://washburn.tnris.org/stratmap/land-parcels/

[2019-09-11 12:27] #14 closed, assigned to christoball, ilyannakadich

[2019-09-11 12:49] ghost opened #16 "Forum sponsors missing"
@christoball Just noticed the lowest level of listed sponsors are missing here: https://tnris.org/texas-gis-forum/2019/
and
here: https://tnris.org/texas-gis-forum/2019/sponsors-and-exhibitors/

[2019-09-11 13:28] adambreznicky commented on #6
just reviewed. looks good. responsiveness is behaving as expected. i dig.

a few consistency updates before going live:

1. the header option within the Programs dropdown "Lidar" should be "Elevation - Lidar" to match the stratmap sub-navbar, footer, page url, and page title
2. "StratMap Contracts" should become just "Contracts" in the page url, page title, and stratmap sub-navbar in order to be c

[2019-09-11 14:52] christoball commented on #16
@gmullins thanks for catching this, I've fixed it and will go ahead and move it forward to prod.
http://frye.tnris.org/texas-gis-forum/2019/

[2019-09-11 15:15] #16 closed, assigned to christoball

[2019-09-11 18:46] christoball commented on #6
@adambreznicky I believe I've addressed the inconsistencies, preview here:
https://beta.tnris.org/

[2019-09-11 18:54] adambreznicky commented on #6
awesome buddy! looks great to me!

[2019-09-11 19:14] #6 closed, assigned to christoball, JasonKleinert, adambreznicky, jwhaney

[2019-09-11 19:59] rwade2126 opened #19 "Update GIO meeting on Events Page"
@christoball Please remove the July meeting and replace it with the October meeting shown on the GIO page.

[2019-09-12 13:02] ThorTheDestroyer commented on #2
@adambreznicky just to give you a heads up, It isn't really a special case.  Since the USGS is acquiring these huge collection, you'll likely have to do it for about 4 more collections in the near future as they are around the same size as this collection.  I'll just start adding  a line into the incoming data that requests you upload them.

[2019-09-12 14:21] ghost opened #20 "Descriptions for Forum StratMap Session"
@christoball On the agenda, please add these descriptions to this session. Thx!

Strategic Mapping - Celebrating Successful Public and Private Partnerships

Program Overview – How everyone benefits
Celebrate this 10 year milestone with us as TNRIS program specialists provide an overview of program benefits and major accomplishments gained for the Texas GIS community and the public in general. Lear

[2019-09-12 15:45] christoball commented on #12
Resolved with updated banner image uploaded to api.

[2019-09-12 15:45] #12 closed, assigned to christoball

[2019-09-12 19:46] christoball commented on #19
Updated the meeting, gonna move forward on pull request: http://ellwood.tnris.org/geographic-information-office/

[2019-09-12 20:35] #19 closed, assigned to christoball

[2019-09-13 20:35] christoball commented on #11
combining into #10

[2019-09-13 20:35] christoball commented on #20
combined into #10

[2019-09-13 20:35] #20 closed, assigned to nobody

[2019-09-13 20:35] christoball commented on #10
combining #11 and #20 into this issue

[2019-09-13 20:44] christoball commented on #10
@KCMack @gmullins agenda is updated with latest info, includes miguels bio from other issue and stratmap session descriptions: http://glidden.tnris.org/texas-gis-forum/2019/agenda/

[2019-09-13 20:56] KCMack commented on #10
Adding to this issue. Please update the agenda with Ryan Fennell's bio.  The attached file has been updated.
[Copy of 9.9.2019 Forum Agenda_Draft_9.13.19.xlsx](https://github.com/TNRIS/tnris.org/files/3611809/Copy.of.9.9.2019.Forum.Agenda_Draft_9.13.19.xlsx)

[2019-09-16 13:27] ghost commented on #10
@christoball Looks good to me!

[2019-09-16 15:31] KCMack opened #22 "REvised Agenda"
[Copy of 9.9.2019 Forum Agenda_Draft_9.13.19.xlsx](https://github.com/TNRIS/tnris.org/files/3616988/Copy.of.9.9.2019.Forum.Agenda_Draft_9.13.19.xlsx)
Please refresh the agenda including the speaker names and bios.  Note: specifically the Emergency Management session includes a CARTO presentation which is on this schedule.

[2019-09-16 18:40] christoball commented on #22
combined into #10

[2019-09-16 18:40] #22 closed, assigned to nobody

[2019-09-16 18:41] KCMack opened #23 "Texas Statewide Land Parcel Data Report Cover Page"
Please use the StratMap graphic for this cover page
[Final Report Cover Page_9.16.19.docx](https://github.com/TNRIS/tnris.org/files/3617680/Final.Report.Cover.Page_9.16.19.docx)

[2019-09-16 18:52] KCMack commented on #23
[Texas Statewide Land Parcel Data second page_9.13.19.docx](https://github.com/TNRIS/tnris.org/files/3617727/Texas.Statewide.Land.Parcel.Data.second.page_9.13.19.docx)
Changed TNRIS reference to TWDB

[2019-09-16 22:18] christoball commented on #10
@KCMack Latest version incorporating ryan fennel bio and carto presentation fix
http://glidden.tnris.org/texas-gis-forum/2019/agenda/

[2019-09-17 14:26] adambreznicky commented on #8
resolved bc57182e4d5629295d94f8f004bb1d10e2cc395b

[2019-09-17 14:26] #8 closed, assigned to christoball, adambreznicky

[2019-09-17 15:29] adambreznicky commented on #7
resolved 496fc72fe7993d9a15c7487b9ec0978391eb29d2

[2019-09-17 17:19] christoball commented on #23
resolved

[2019-09-17 17:19] #23 closed, assigned to nobody

[2019-09-17 19:32] KCMack commented on #10
Looks great!  Thank you.

[2019-09-17 19:50] #10 closed, assigned to christoball, KCMack

[2019-09-17 20:01] ghost opened #28 "USGS Lower Colorado\San Bernard"
Data Story please copy all content for news article into this issue.

[2019-09-17 20:06] ghost opened #30 "NAIP 2018-2019"
Data Story please copy all content for news article into this issue.

[2019-09-17 21:40] christoball opened #31 "delete datacatalog/entry folder"
@adambreznicky while working on maps feature branch, i noticed the **datacatalog/entry** folder with all the catalog markdowns is in all the branches of the repo.

Had we deleted that already? If not, we should be able to delete it no problem right?

[2019-09-18 12:56] adambreznicky commented on #31
we did not delete them. if you open one, you should see that the "layout" (template) is directed to the redirect njk. we held onto them to satisfy concern raised about users who may have a bookmark to one of those old data catalog pages. the concern was that if they did have a bookmark and used it, they would get a 404 and that this would be a bad situation. this same scenario is why we held onto

[2019-09-18 15:14] christoball opened #32 "Recognize Links in Map Collections"
@e00o has put links in the map collection descriptions to link back to the TWDB pages for the maps. These either need to be recognized as links in the description field or added as another field in the API that we can pull from. See below.

![image](https://user-images.githubusercontent.com/1877550/65161318-f8c29b00-d9fc-11e9-8e15-503c1a1487ba.png)

[2019-09-18 16:44] adambreznicky commented on #32
i added a new field to the api and migrated the links out of the descriptions to utilize it. redeploying api now.
updated frontend to utilize a conditional ternary and create a link for this field if populated

resolved 7fc36edcf81b76379991e87ee6f915e9f51fee92

[2019-09-18 16:44] #32 closed, assigned to adambreznicky

[2019-09-18 20:08] KCMack opened #33 "Second Keynote speaker"
Please add Justen Noakes's Bio and photo to the Forum front page.

His name needs to be added to the agenda, also.
[Justen R Noakes Bio.pdf](https://github.com/TNRIS/tnris.org/files/3628153/Justen.R.Noakes.Bio.pdf)

[2019-09-18 21:30] christoball commented on #33
@KCMack article preview ready here:  http://ellwood.tnris.org/news/2019-09-18/forum-keynote-justen-noakes-heb-director-emergency-preparedness/

[2019-09-18 21:33] KCMack commented on #33
Terrific!  KCM

[2019-09-18 21:48] christoball commented on #31
@adambreznicky going to think about it but I'll be sure to make a decision soon.

[2019-09-18 22:03] KCMack opened #35 "Change Miller from Exhibitor"
to Silver Sponsor

[2019-09-18 22:03] christoball commented on #31
@adambreznicky looking at the analytics, there are still a notable amount of people entering through various data-catalog urls.

There 70 hits directly to data catalog entries in the table below. I we should leave it for now.

![image](https://user-images.githubusercontent.com/1877550/65189242-15c79000-da36-11e9-866e-0e34769e2018.png)

[2019-09-18 22:06] #31 closed, assigned to christoball, adambreznicky

[2019-09-19 13:14] #33 closed, assigned to christoball, KCMack

[2019-09-19 19:03] ThorTheDestroyer commented on #28
---
title: New USGS Lower Colorado San Bernard 2018 Lidar Data Release
author: Joey Thomas, StratMap
layout: news-article.njk
mainimage: https://s3.amazonaws.com/data.tnris.org/46b000dd-83b2-4701-b5c6-3f6e18cedccf/assets/34a0cde1-d679-411c-8ced-973143b93d26.jpg
thumbnail: https://tnris-org-static.s3.amazonaws.com/images/brown_missouri_th.jpg
thumbalt: A thumbnail for USGS 2018 Lidar Projects
abstr

[2019-09-19 19:04] ThorTheDestroyer commented on #28
@christoball , tried to upload a .md and it said that format wasn't supported.

[2019-09-19 19:05] christoball commented on #28
@ThorTheDestroyer the comment will work fine

[2019-09-19 19:28] ThorTheDestroyer commented on #28
![LCSB_coverage_map](https://user-images.githubusercontent.com/8398036/65274795-c9d62300-dae9-11e9-8c4a-fecb57ee054d.jpg)
@christoball  here is the coverage map.

[2019-09-19 22:08] christoball commented on #28
@ThorTheDestroyer Preview ready here:
http://haish.tnris.org/news/new-usgs-lower-colorado-san-bernard-2018-lidar-data-release/

[2019-09-20 12:12] ThorTheDestroyer commented on #28
![image](https://user-images.githubusercontent.com/8398036/65325904-be303e00-db75-11e9-84bb-7d525575d278.png)
@christoball the caption circle in the image need to change from "3D Lidar Point cloud" to  "Bare Earth Digital Elevation Model"

Other than that, looks great.

[2019-09-20 22:01] christoball commented on #28
@ThorTheDestroyer I've gone ahead and made that change, will initiate the move to publish

[2019-09-20 22:21] christoball commented on #35
@KCMack preview here:
http://ellwood.tnris.org/texas-gis-forum/2019/

[2019-09-20 22:29] KCMack commented on #35
Looks good!

[2019-09-20 22:32] KCMack commented on #35
Looks good~

[2019-09-23 12:20] #35 closed, assigned to christoball

[2019-09-23 12:22] #28 closed, assigned to christoball, ThorTheDestroyer

[2019-09-23 15:02] christoball commented on #5
@ThorTheDestroyer take a look and see if this is what you were looking for. I've made the image enlargeable.

http://haish.tnris.org/stratmap/hydrography/

[2019-09-23 15:04] ThorTheDestroyer commented on #5
Looks Great! Thank you.

[2019-09-23 20:01] KCMack opened #40 "Conrad Blucher Institute - new Exhibitor"
Please add:
The Conrad Blucher Institute for Surveying and Science (CBI)
Texas A&M University – Corpus Christi

[2019-09-23 20:03] #5 closed, assigned to christoball, ThorTheDestroyer

[2019-09-23 21:02] christoball commented on #40
@KCMack preview ready here:
http://ellwood.tnris.org/texas-gis-forum/2019/

[2019-09-23 21:57] KCMack commented on #40
Looks great.  Thanks

[2019-09-24 12:44] #40 closed, assigned to christoball, KCMack

[2019-09-24 16:58] csidenblad opened #42 "Historical Pricing Updates"
Add pricing blurb on the RDC Historical Imagery Archive page. Please use the similar formatting to pricing in cart and add just under contacts on page. See image below.

![historicalpricingupdates](https://user-images.githubusercontent.com/23489372/65532972-720d3280-dec2-11e9-8d6a-99da6ade0bb9.PNG)

**Historical Imagery Costs**
Historical search (1 image per decade): $40.00 per site
Single year se

[2019-09-24 22:04] christoball commented on #42
@csidenblad everything look good? preview here: http://washburn.tnris.org/research-distribution-center/historical-imagery-archive/

[2019-09-25 15:42] #42 closed, assigned to christoball, csidenblad

[2019-09-26 13:33] ghost opened #45 "StratMap Contracts special announcement"
@christoball Could you please post the following, perhaps in a red box, on the StratMap Contracts page? Including @ThorTheDestroyer for review. Thanks!

Special Announcement: After four years of success, the re-bid of these contracts is coming up this **November 2019**! For the solicitation release date and other official posting information, please see the [DIR Current Contracting Initiatives](ht

[2019-09-26 15:39] csidenblad commented on #42
@christoball Looks great. Thanks for updating Chris

[2019-09-26 18:33] christoball opened #46 "Shifting up Front page, adding events feature"
@KCMack I wanted to feature the keynotes on the front page in a cleaner way, so I put them on the side where the training was, but with the training it became a lot. Is it ok if we take off the training for now and bring it back after the forum, especially since the season is closed and we dont have new courses yet?

Preview this here:
http://glidden.tnris.org/

[2019-09-26 20:53] christoball commented on #45
@gmullins what do you think of this?
http://haish.tnris.org/stratmap/stratmap-contracts/

[2019-09-26 20:59] ghost commented on #45
@christoball Perfect. Can you bold November 2019? Good to go after that.

[2019-09-27 12:32] #45 closed, assigned to christoball, ThorTheDestroyer

[2019-09-27 18:03] adambreznicky opened #48 "form uploads"
in migrating the contact app to api.tnris.org, testing on the Job Board form yielded buggy behavior for file uploads. although almost all uploading was removed from the site, test the uploading capabilities on any forms to verify it is still working. Forum Job Board form definitely should be supporting uploads. Georodeo speaker submissions should too although there are no instances of this current

[2019-09-30 14:51] KCMack commented on #46
Really good idea.  Thanks!

[2019-09-30 15:55] #46 closed, assigned to christoball, KCMack

[2019-09-30 15:59] christoball opened #50 "add Intrado to silver sponsors"
add intrado logo and link to forum sponsors

[2019-09-30 19:11] KCMack commented on #50
Thanks

[2019-09-30 19:16] KCMack opened #51 "Update Booth sizes on website"
The correct sizes follow:
Platinum sponsors = 8x20 booth.
Gold and Silver Sponsors = 8x10 booth.
Exhibit only exhibitors = 8x8 booth.

[2019-09-30 19:23] KCMack opened #52 "Additional sponsors"
Razor-Tek - Exhibitor
Intrado -  Silver
![Intrado-color-tagline](https://user-images.githubusercontent.com/4912083/65909269-daaa5280-e38d-11e9-90eb-b7e7408659a7.jpg)

[2019-09-30 20:04] KCMack commented on #52
@christoball

[2019-09-30 20:19] christoball commented on #52
@KCMack Intrado doesn't have it's own website it all just goes to West still. Advice?

[2019-09-30 20:24] christoball commented on #52
they have this on their main page so i'll just link to West
<img width="1003" alt="Screen Shot 2019-09-30 at 3 23 36 PM" src="https://user-images.githubusercontent.com/1877550/65913957-54463e80-e396-11e9-9602-6a8b2485a1b0.png">

[2019-09-30 20:28] KCMack opened #53 "Laura Chapa's bio"
Please update her session with her bio:
Laura Chapa is a GIS Analyst for the Landscape Ecology Program at Texas Parks and Wildlife Department. Since joining TPWD in 2014, Chapa has worked on mapping Texas vegetation statewide, as well as Conservation Opportunity Areas for Texas species of greatest conservation need. Over the past year, she has devoted her time to mapping potential breeding habitat

[2019-09-30 20:30] christoball commented on #52
@KCMack sponsors updated, preview here:
http://ellwood.tnris.org/texas-gis-forum/2019/

[2019-09-30 20:30] christoball commented on #51
@KCMack booth sizes updated, see changes here:
http://ellwood.tnris.org/texas-gis-forum/2019/sponsors-and-exhibitors/

[2019-09-30 20:31] christoball commented on #53
@KCMack her bio has been updated, preview here:
http://ellwood.tnris.org/texas-gis-forum/2019/agenda/#two-B-1030-c

[2019-09-30 20:32] #50 closed, assigned to christoball, KCMack

[2019-09-30 20:33] KCMack commented on #51
Looks great.  Thanks

[2019-09-30 20:33] KCMack commented on #52
Thanks!

[2019-09-30 20:34] KCMack commented on #53
Looks great.

[2019-09-30 20:42] christoball commented on #48
@adambreznicky I verified with @mitchellryant that the forum job board the only place on tnris.org that has uploads currently.

AOI uploads are now on Datahub

[2019-09-30 21:18] christoball opened #55 "Rework Front DataHub Callout Next To Main Image"
Need to change the current approach to leftside box next to main image.

[2019-09-30 22:52] KCMack opened #56 "Pre-conference workshop FULL"
Please change the status from Register Here to FULL for Monday morning 8:00 session:
Earth Observation with Satellite Remote Sensing and ArcGIS Pro

@christoball

[2019-10-01 12:33] #51 closed, assigned to christoball, KCMack

[2019-10-01 12:33] #52 closed, assigned to christoball, KCMack

[2019-10-01 12:33] #53 closed, assigned to christoball, KCMack

[2019-10-01 14:32] #56 closed, assigned to nobody

[2019-10-01 16:47] ghost commented on #30
@christoball Latest News write up and image graphics are here:  M:\Website\Updates\NAIP 2018 Statewide Imagery release
Thanks!

[2019-10-01 19:19] christoball commented on #30
@gmullins Do you not want NAIP included in the headline? It's currently:

## New 2018-19 Statewide Aerial Imagery Now Available

[2019-10-01 20:54] ghost commented on #30
@christoball Yes, let's put NAIP in there since so many people know it.

[2019-10-01 20:57] ilyannakadich opened #57 "Land Parcels Data Release and News Article"
@christoball
[News10012019.docx](https://github.com/TNRIS/tnris.org/files/3678473/News10012019.docx)

Chris, I have the attached for release on the website.  Is it possible to add an inset of the Carto map into the end of the article?  If not, I can grab an image.  Let me know if you have any questions.  Thanks, Ilyanna

[2019-10-02 16:15] jwhaney opened #58 "events page circles too large"
smaller device/responsiveness issue:

less than 992px, event circles become too large and single stacked. this is purely cosmetic, but i think it would look better if they were smaller and in maybe two columns for smaller devices. right now they are definitely too big though.

feature branch to resolve this has been started...

[2019-10-03 12:20] jwhaney commented on #58
closed via pr #59

[2019-10-03 12:20] #58 closed, assigned to jwhaney

[2019-10-03 15:54] adambreznicky commented on #48
looks like one on https://tnris.org/texas-imagery-service/ contact form also when the reason is an issue.

image upload failed on this one too insofar as i can tell

[2019-10-03 21:54] KCMack opened #60 "New Logo - Geocortex"
![Geocortex-By-Vertigis-Large](https://user-images.githubusercontent.com/4912083/66166979-72ae7300-e5fe-11e9-831b-fc6670531b97.png)

Please replace the existing logo with their new one.

@christoball

[2019-10-03 21:59] christoball commented on #57
@ilyannakadich @geochik @gmullins preview article ready here:
http://frye.tnris.org/news/2019-10-03/land-parcels-transformed-into-common-schema/

[2019-10-03 22:02] christoball commented on #60
@KCMack Done, already live on the site

https://tnris.org/texas-gis-forum/2019/

[2019-10-03 22:02] #60 closed, assigned to christoball, KCMack

[2019-10-03 22:06] ilyannakadich commented on #57
Looks great!  Let's see if @gmullins has any comments.

[2019-10-04 11:12] geochik commented on #57
Two thumbs up from me!

[2019-10-04 12:35] adambreznicky commented on #48
resolved 2bfea7d7fdc12a7af82970842ba20876398dbf43

[2019-10-04 12:35] #48 closed, assigned to nobody

[2019-10-04 12:40] adambreznicky commented on #48
@christoball i fixed contact app form uploads syntax. the fix is currently in both develop and master branches. be sure to merge these changes into the other branches as you work on them so they don't get overwritten accidentally. thanks!

[2019-10-04 13:46] ghost commented on #57
Looks good to go to me!

[2019-10-04 15:27] #57 closed, assigned to christoball, geochik, ilyannakadich

[2019-10-04 21:36] christoball commented on #30
@gmullins preview of article now ready: http://razor-wire.tnris.org/news/2019-10-03/new-2018-2019-naip-statewide-aerial-imagery-now-available/

[2019-10-07 13:32] ghost commented on #30
@christoball Looks great! The only thing I see is the oil pads slider is missing the CIR image. Good to go after that.

[2019-10-07 14:19] adambreznicky opened #63 "poster-submission template inconsistency"
within every 'year' folder for the texas-gis-forum templates (templates/events/texas-gis-forum/<<year>>/) is a "poster-submission.njk" template file that is never used. every event year page has a "poster-gallery" page/template and each one calls the same partial from 2015 for the poster submission form, `{% include "partials/2015-forum/poster-submission.njk" %}`, while the poster-submission.njk f

[2019-10-07 15:56] christoball commented on #30
@gmullins k i've fixed that and moving forward with publishing

[2019-10-07 16:10] christoball commented on #63
@adambreznicky I've applied solution 1 in the following commit.

7d9a301044542a959a426e58984c63e83d5e47dd

[2019-10-07 20:06] #30 closed, assigned to christoball

[2019-10-07 22:53] KCMack opened #67 "Registration Closes October 11"
Please note on the website that online registration closes this Friday, October 11.  This impacts both general registration and sponsors, too.

Onsite registration is available at an increased pricing.

@christoball

[2019-10-08 12:54] #63 closed, assigned to christoball

[2019-10-09 15:28] christoball opened #68 "Platinum Sponsor Demo Descriptions"
We still don't have which sponsor is doing which day and a description.

@KCMack are those available yet? I'll also need them for the printed program.

[2019-10-09 15:29] christoball opened #69 "Forum Social Description"
We still don't have the details up for the social, which we would also need on the program.

[2019-10-09 21:46] KCMack commented on #68
Wednesday - Esri tech talk
Presenter: Paul Ross
Platinum Sponsor Presentation
Using ArcGIS to Tell Human Stories
For centuries people have been telling stories and communicating with maps.  Today, WebGIS makes it fast and easy to create and share important information and stories locally or even worldwide.  In this session, Paul will discuss how new tools like StoryMaps, Dashboards and app-buildin

[2019-10-09 23:25] KCMack commented on #69
Forum Social at the Commons Center
Relax, catch up, and enjoy food, and fun in the Atrium at the Commons Center.  Enjoy delicious appetizers, beverages, music and games.
![2019 Forum Games](https://user-images.githubusercontent.com/4912083/66527519-25307b00-eac2-11e9-8959-cba0093972de.png)
![And more games](https://user-images.githubusercontent.com/4912083/66527525-282b6b80-eac2-11e9-997c-4bba4dda

[2019-10-10 14:13] KCMack opened #70 "Add sponsors - one Silver one Exhibitor"
Silver Sponsor - GeoShak
![image](https://user-images.githubusercontent.com/4912083/66576907-1d162100-eb3e-11e9-9c93-1c73562adf7d.png)

Exhibitor - TxDOT

@christoball

[2019-10-10 21:42] KCMack commented on #68
Thursday Sponsor Presentation - AppGeo
Title: What's Driving Your Data?
Co-Presenters: Kate Hickey and Morgen Healy

Summary:
Organizations are spending more time and money than ever on data, data science, and
analytics. There is no question that data platforms are increasingly powerful and are a key
ingredient to success. But organizations are making far more progress on the technological
front o

[2019-10-10 23:15] KCMack opened #71 "Time change for Social Event"
Change From: 6:00 - 8:00
TO: 5:30 - 7:30

@christoball

[2019-10-11 19:59] #67 closed, assigned to nobody

[2019-10-11 19:59] #68 closed, assigned to christoball, KCMack

[2019-10-11 19:59] #69 closed, assigned to christoball, KCMack

[2019-10-11 19:59] #70 closed, assigned to nobody

[2019-10-11 19:59] #71 closed, assigned to nobody

[2019-10-11 22:26] KCMack opened #73 "A' la Carte Sponsor recap"
Sanborn - Wednesday B'fast
Fugro - Thursday B'fast & Thursday Lunch
Geomni - Thursday Lunch
CARTO - Name Tag Neck Wallets

[2019-10-14 19:49] KCMack opened #74 "Agenda suggested edits"
Generally looks great!

Edits:
Wednesday
Correct spelling of Leon's last name - Logothetis
Break & Exhibits - no sponsorships for breaks
Strategic Mapping - fill in the gaps with info from the web page
Lunch sponsored by Sanborn
Preparing for GIS Leadership - Bill Johnson will be moderator, remove RW
Leadership session 4:00 - 5:30
Social 5:30 - 7:30 at the Commons
Relax, catch up, and enjoy food,

[2019-10-15 15:33] KCMack opened #75 "Forum website changes"
Wednesday 2-3:30 in Lil' Tex
Third speaker listing
From: Ceran Hibbard
To: Jennifer Estes

Speaker Change From::
Session A (Big Tex)
Emergency Management
10:30 – 11:00AM
Hurricane Emergency Response - Operational and Technical Infrastructure Challenges
Jaime de Mora, Vice President of Sales, CARTO

To:
JD Godchaux, Customer Success Manager with CARTO
Bio: JD Godchaux is based in Houston. JD has ov

[2019-10-15 16:03] KCMack commented on #75
Add to the speaker change
From: JD Godchaux, Customer Success Manager with CARTO

To:
JD Godchaux, Customer Success Manager with CARTO
Jeff Goalen, Director of BUdget Support Services at Harris County, Texas

[2019-10-15 16:04] KCMack commented on #75
correct the above: Jeff Goalen, Director of Budget Support Services at Harris County, Texas

[2019-10-15 19:28] KCMack opened #76 "Forum agenda Welcome letter"
Welcome:

Welcome to the 32nd annual Texas GIS Forum.  Statewide support for geographic information has never been greater.  GIS is no longer a set of tools understood by very few.  Instead, geographic data and GIS concepts are recognized at the highest levels of government as important state resources.  As data users and application developers, you have demonstrated the importance and the value o

[2019-10-15 19:29] KCMack commented on #76
@christoball

[2019-10-15 22:03] KCMack opened #77 "Workshop Sign Edits"
Monday
8:00 - 12:00 should be:
(Almost) Everything About Census Data and Geography
Location: UT Commons Center Stadium Room
Insights for ArcGIS Local
Location: UT Commons Center Balcones Room
Earth Observation with Satellite Remote Sensing and ArcGIS Pro
Location: TCEQ, Rm 234-235
1:00 - 5:00
The Power of a Story: Presenting Your Work Using Esri Story Maps
Location: UT Commons Center Balcones Room

[2019-10-15 22:25] KCMack opened #78 "Edits for the program"
Social wording
Eliminate the comma after food
it should say, Relax, catch up, and enjoy food and fun........

The leadership panel - names and titles listed
    Richard Wade, Deputy Executive Director/Geographic Information Officer - TWDB/TNRIS
   Molly Schar, Director - National States Geographic Information Council
   Ed Kelly, Chief Data Officer - Texas Department of Information Resources
   Se

[2019-10-15 23:11] #76 closed, assigned to nobody

[2019-10-15 23:15] KCMack opened #79 "Placemaking Edits"
Wednesday Morning Lil' Tex
11:30 - 12:00
Replace What's New? with
11:30AM – 12:00PM
2019: A C-Sharp Odyssey... Migrating Python Add-ins from ArcMap to ArcGIS Pro
John Phillips & Matt Washburn, Texas Department of Transportation

Thursday, Li'l Tex
10:30 -12
Session title should be Transportation Analysis

@christoball

[2019-10-16 14:40] #79 closed, assigned to nobody

[2019-10-16 14:41] #74 closed, assigned to christoball

[2019-10-16 14:41] #73 closed, assigned to nobody

[2019-10-16 14:42] #77 closed, assigned to nobody

[2019-10-16 20:50] #78 closed, assigned to nobody

[2019-10-16 21:09] geochik opened #80 "Forum Agenda - Add leadership panelists names"
@christoball
Please add leadership panelists names, titles and organizations to the Wednesday, 10/23, 4;00-5:30 p.m. time slot.

Selena Walsh, Director – Executive Management in Public Leadership, LBJ School of Public Affairs 
Molly Schar, Director – National States Geographic Information Council 
Ed Kelly, Chief Data Officer – Department of Information Resources 
Richard Wade – GIO of Texas and D

[2019-10-16 21:49] christoball commented on #75
@KCMack can you take a quick look to make sure everything is up to date and correct?
http://ellwood.tnris.org/texas-gis-forum/2019/agenda/

[2019-10-16 22:42] KCMack commented on #75
This is the last item to be repaired

Topic description change
Session A (Big Tex)
Emergency Management
10:30 – 11:00AM
Hurricane Emergency Response - Operational and Technical Infrastructure Challenges

Description change to:
This presentation will describe the experience in emergency management during hurricane season. They will focus on the use of CARTO in emergency management with a case study

[2019-10-16 22:44] KCMack commented on #75
Add one last thing for Friday

Registration and Breakfast

Thanks
@christoball

[2019-10-16 22:51] christoball commented on #80
@geochik yes they will be added in the next update that will push asap

[2019-10-17 12:18] #75 closed, assigned to christoball

[2019-10-17 12:18] #80 closed, assigned to nobody

[2019-10-17 14:31] ilyannakadich opened #82 "Land Parcel page update"
@christoball Please update the count of parcels available to 228 on https://tnris.org/stratmap/land-parcels/.   I had to take one down.  Thank you!

[2019-10-17 15:01] #82 closed, assigned to christoball

[2019-10-17 16:55] KCMack opened #84 "Additional lunch sponsor"
AeroGraphics would like to sponsor Wednesday lunch.

Rodney realizes that he's too late to be added to the print materials.

Please create a sign in the same dimensions to be printed
![AeroGraphics_Logo_RGB](https://user-images.githubusercontent.com/4912083/67029557-2883c200-f0d3-11e9-954a-7f2a4877767a.gif)

[2019-10-17 17:08] KCMack commented on #84
@christoball

[2019-10-18 15:41] KCMack opened #85 "Training Room Change"
The training room has changed for Monday at 1:00 - 5:00
The National Map & National Hydrography Dataset
From:
Longhorn Room
To:
Stadium
@christoball

[2019-10-18 17:09] adambreznicky opened #86 "Turn off past forum forms"
Going back to the past years' texas gis forum pages, many of them have "Job Board" and "Poster Contest" forms directly available on the pages. They also have pages that, although not linked to, still exist with open forms. All of these forms need to either be deleted from the templates or commented out as to prevent users from utilizing them. If used, they may cause errors or confliction (at least

[2019-10-18 17:36] christoball commented on #86
@adambreznicky k, done that in this commit 62e484dcb6cbf793de50ac911e26b90877c658f8

made a universal job board form, deleted extras, and got rid of past instances in forums

if it looks good i will make the pull request.

[2019-10-18 17:44] adambreznicky commented on #86
@christoball AWESOME! thanks for such a quick response. go ahead and create the PR

[2019-10-18 22:18] KCMack opened #88 "Two speakers to add to the Emergency session - add to the website"
Two presenters from Harris County will join JD in his presentation.

We have Jeff Goalen's name listed, but not his bio.  And Dominic Lai is not listed, please add his name along with the other two.

Jeff Goalen
Jeff Goalen, M.S., PMP is the Director of Budget Support Services (a division of the Budget Management Department in Harris County, Texas).  The division’s core function is to collect accu

[2019-10-21 14:49] christoball commented on #85
I changed this, but this is something that can be done in api.tnris.org and doesn't need an issue.

[2019-10-21 14:49] #85 closed, assigned to nobody

[2019-10-21 14:49] #84 closed, assigned to nobody

[2019-10-22 12:26] #86 closed, assigned to christoball

[2019-10-22 14:39] christoball commented on #88
resolved

[2019-10-22 14:39] #88 closed, assigned to nobody

[2019-10-22 18:29] ilyannakadich opened #90 "Address Point web page update"
@christoball @gmullins

Chris, please remove the information above the Program Timeline and replace with the attached.  Also, the Fall 2019 box should be green in the timeline.

[AP site updates.docx](https://github.com/TNRIS/tnris.org/files/3757704/AP.site.updates.docx)
[TNRIS Address Point Schema.pdf](https://github.com/TNRIS/tnris.org/files/3757706/TNRIS.Address.Point.Schema.pdf)

[2019-10-22 18:42] christoball commented on #90
@ilyannakadich I need to double check, are you saying to take off the 'download dataset' section as well?

You said to replace what's above the timeline. If not, i'm going to move it into the side above the contact us

![image](https://user-images.githubusercontent.com/1877550/67318873-b267cc80-f4d1-11e9-83a3-d966b8c75458.png)

[2019-10-22 19:35] #90 closed, assigned to christoball, ilyannakadich

[2019-10-29 15:06] KCMack opened #92 "Front page and Forum page changes"
The usual - Thank you for making the Texas GIS Forum a huge success!

Videos will follow after adding closed captioned.....

Presentations will be uploaded to enjoy the sessions again by XXX date

@christoball

[2019-10-30 13:50] ghost opened #93 "Address Point Collection URL"
Please change the url for the Address Points Collection from `https://data.tnris.org/collection/c56ff69b-efe7-46e7-89c7-43e655188382`
to
`https://data.tnris.org/collection/117cf9e1-3b1e-48f2-97a3-47020d871035`

<img width="404" alt="Screen Shot 2019-10-30 at 8 48 30 AM" src="https://user-images.githubusercontent.com/8459928/67863540-169e1800-faf2-11e9-8556-6b5614b5d641.png">

[2019-10-30 14:16] christoball commented on #93
@mitchellryant I've gone ahead and staged this change in this commit 4c34fc9c0720793b37e1cc75d28bbc8ac129e80d

preview here:
http://washburn.tnris.org/stratmap/address-points/

[2019-10-30 14:19] ghost opened #94 "Poster Gallery Web Feature"
Please create the poster gallery "Winners" feature for the web site.

All info is here:  M:\Forum_GeoRodeo\2019_Forum\Poster Contest\Winners

Thanks!

[2019-10-30 14:21] ghost commented on #94
@christoball

[2019-10-30 15:15] ghost commented on #93
i just made the collection public so it will take up to one hour to for the materialized view to refresh.

[2019-10-30 15:51] ghost commented on #93
@christoball looks great!

[2019-10-31 12:36] ilyannakadich opened #95 "Address Point web page map"
Chris, once the button on the Address Page to download data is operational and live, can you please add the Carto map.  It will be the same setup as the Land Parcel map.  Here's the map https://tnris-twdb.carto.com/u/tnris/builder/9ea89bcc-63b5-4ed5-924d-e6c1910bb6f4

Thanks! Ilyanna

[2019-10-31 18:56] ghost commented on #95
@christoball here is the embed link.

<iframe width="100%" height="520" frameborder="0" src="https://tnris-twdb.carto.com/u/tnris/builder/9ea89bcc-63b5-4ed5-924d-e6c1910bb6f4/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

[2019-11-01 21:26] christoball commented on #92
@KCMack Photo recap article ready for review

I essentially resued the same text from last year so any ways to make it more specific to this year are welcome. Still making other edits to front page and adding presentations

front page:
http://ellwood.tnris.org/

photo recap:
http://ellwood.tnris.org/news/2019-11-01/texas-gis-forum-2019-wrap-up-photo-recap/

[2019-11-01 21:59] KCMack commented on #92
Looks great, Chris

[2019-11-01 22:24] christoball commented on #94
@e00o @KCMack preview ready here:
http://frye.tnris.org/news/2019-10-04/poster-gallery-winners-2019-texas-gis-forum/

[2019-11-01 23:07] KCMack commented on #94
Looks terrific, Chris!

[2019-11-04 12:30] ghost commented on #94
Nice! Looks excellent. Thanks!

[2019-11-04 17:07] christoball commented on #92
@KCMack @gmullins can y'all take a look at the agenda and the slides i've posted. ones that don't have one means i didnt get the file, unless i made a mistake: http://ellwood.tnris.org/texas-gis-forum/2019/agenda/

@gmullins can you tell me where these presentations go under? I wasnt sure which sessions they should be put under, the wednesday or friday one

https://speakerdeck.com/texasnaturalreso

[2019-11-04 17:25] #95 closed, assigned to christoball

[2019-11-04 19:00] #93 closed, assigned to christoball

[2019-11-05 15:15] KCMack commented on #92
Let's make the thank you more about the attendees and less about us as follows:

Thank you for attending the 2019 Texas GIS Forum..  Your participation and enthusiasm contributed to another great event.

We hope you enjoyed it as much as we did! Photos from the conference are shared along with the  slideshows available from this year's presenters on the agenda page.  Videos of the Keynotes and our

[2019-11-05 15:40] KCMack commented on #92
Slides appear to be attached to the session topic correctly.
I will contact those speakers whose slides are not currently available.

[2019-11-05 17:57] #92 closed, assigned to christoball, KCMack

[2019-11-05 17:57] #94 closed, assigned to christoball, KCMack

[2019-11-06 15:55] KCMack opened #99 "Caption wording changes"
Change reference to Peter Lake FROM:
Board Member
TO:
Board Chairman

http://ellwood.tnris.org/news/2019-11-04/texas-gis-forum-2019-wrap-up-photo-recap/#

http://ellwood.tnris.org/news/2019-11-04/texas-gis-forum-2019-wrap-up-photo-recap/#

@adambreznicky

[2019-11-06 20:47] ilyannakadich opened #100 "Forum slides: Census 2020"
@christoball Hey Chris, I noticed that the slides were not posted for the Census 2020 presentation by Jim and Lacy Thursday at 4:00.  Here it is.
[Geographic Partnerships.pptx](https://github.com/TNRIS/tnris.org/files/3816642/Geographic.Partnerships.pptx)

[2019-11-07 15:47] ghost opened #101 "Forum Photos Captions"
Wednesday
Photo 01 - Change Richard's Title to Deputy Executive Administrator
Photo 02 - Change Richard Title to Deputy Executive Administrator
Photo 03 - Add single quotes around Title of Show.
Photo 04 - Add single quotes around Title of Show.
Photo 07 - Change Peter's Title to Chairman of the Board
Photo 08 - Change Peter's Title to Chairman of the Board
Photo 19 - Change capitalization of AECO

[2019-11-07 15:48] ghost commented on #99
added to #101

[2019-11-07 15:48] #99 closed, assigned to nobody

[2019-11-13 16:45] christoball opened #102 "deleting feature branches maps, events page?"
What's the protocol for deleting feature branches? Can anyone delete once we're done or should the branch creator?

Just looking to keep stuff cleaned up.

[2019-11-13 16:46] christoball commented on #102
I went ahead and deleted the events circle size branch since i was helpign with that.

[2019-11-13 17:13] adambreznicky commented on #102
right on, keeping stuff clean is always awesome!

if a PR comes in from a 'feature' branch (i.e. not develop or one of the barbwire branches), i delete the branch after approving and merging since that code is now on one of our permanent branches. i think, in general, if you see a feature or one-off branch hanging out that is no longer being used or wasn't deleted after merging then it is safe to

[2019-11-13 17:15] christoball commented on #102
@adambreznicky thanks that makes sense, just want to be clear on protocol.

[2019-11-13 17:15] #102 closed, assigned to JasonKleinert, adambreznicky, jwhaney

[2019-11-13 21:02] christoball commented on #101
@mitchellryant preview of fixes ready here:
http://ellwood.tnris.org/news/2019-11-04/texas-gis-forum-2019-wrap-up-photo-recap/

[2019-11-15 16:33] #100 closed, assigned to christoball

[2019-11-15 16:33] #101 closed, assigned to christoball

[2019-11-15 16:41] ilyannakadich opened #104 "Forum Day 2 keynote slide link"
@christoball  Hey Chris, I wanted to send someone who was not at the Forum a link to the presentation by Leslie Sweet and notice the slides are from another presentation.  It's located on the network at M:\Forum_GeoRodeo\2019_Forum\Presentations\Hurricane Harvey - H-E-B's Response.pptx  Thanks! Ilyanna

[2019-11-15 16:45] christoball commented on #104
@ilyannakadich its available, but I put the incorrect link. I'll fix that but you can directly point them to it here: https://speakerdeck.com/texasnaturalresourcesinformationsytem/hurricane-harvey-h-e-b-disaster-response

[2019-11-15 16:47] ilyannakadich commented on #104
@christoball  Thank you!

[2019-11-18 14:38] ghost opened #106 "StratMap Contracts announce edit"
@christoball On this page: https://tnris.org/stratmap/stratmap-contracts/
In the Special Announcement box, can you please change November 2019 to December 2019?

Thanks!

[2019-11-18 16:05] #104 closed, assigned to nobody

[2019-11-18 16:06] adambreznicky commented on #1
banner schedule completed

[2019-11-18 16:18] christoball commented on #106
resolved in #105

[2019-11-18 16:18] #106 closed, assigned to nobody

[2019-11-18 16:24] ilyannakadich opened #107 "Address Point News Article"
@christoball  Chris, Here is the news article for the new address points dataset.  Gayla reviewed - please let me know if you have any additional edit suggestions.  Thanks, ilyanna
[Texas Address Point News.docx](https://github.com/TNRIS/tnris.org/files/3859582/Texas.Address.Point.News.docx)

[2019-11-18 17:25] christoball opened #108 "StratMap Contracts Request For Offer"
Create banner for StratMap Contracts Request For Offer in December

[2019-11-18 17:26] christoball commented on #108
@gmullins Please provide concepts and place information that would need to be on the banner here.

[2019-11-18 20:25] christoball commented on #107
@ilyannakadich @gmullins
For a news article, this needs a little more narrative, in particular why is it becoming a common schema news? Is this the first time this has happened? how will this make stakeholders' job easier?

I think another paragraph following the intro addressing these questions would help. Also, including a quote from a stakeholder on why they're excited for this, etc...

[2019-11-18 20:34] ghost commented on #1
@gmullins @christoball

<img width="1338" alt="Screen Shot 2019-11-18 at 2 33 21 PM" src="https://user-images.githubusercontent.com/8459928/69091705-719b9e80-0a10-11ea-83d8-05a9d7f7348e.png">

[2019-11-18 20:58] ghost commented on #108
@christoball The intent of this banner message is to announce the opening of the StratMap/DIR Contracts - after 4 years of being closed to new contractors. The audience is the geospatial commercial vendor community (Surdex, Fugro, etc who have to reapply and new companies that have expressed interest such as Atlantic and KCI).

I don't have any graphic related to this but can advise with you.

Her

[2019-11-18 21:03] ilyannakadich commented on #107
@christoball  Thanks for the recommendations.  How's this version?
[Texas Address Point News.docx](https://github.com/TNRIS/tnris.org/files/3860643/Texas.Address.Point.News.docx)

[2019-11-18 21:11] christoball commented on #107
@ilyannakadich love it, gives it a much more human element.

[2019-11-18 21:54] christoball commented on #108
@gmullins will there be an article/press release type thing to announce this as well? We should start prepping that and may want to run it upstairs since it involves contract stuff.

[2019-11-18 23:10] KCMack opened #109 "Two additional slide decks"
From Dr. Nathaniel Dede-Bamfo - Workflow GIS
[Texas GIS Forum 2019 - Analyzing Food Inspection Scores in Austin TX using Spatial Statistics.pdf](https://github.com/TNRIS/tnris.org/files/3861098/Texas.GIS.Forum.2019.-.Analyzing.Food.Inspection.Scores.in.Austin.TX.using.Spatial.Statistics.pdf)

Thursday 4:00 - 5:00 in Lil' Tex

From JD Godchaux - Emergency Management
Thursday 10:30 - 12:00

[CARTO__

[2019-11-19 22:48] christoball commented on #107
@ilyannakadich @gmullins preview ready:
http://washburn.tnris.org/news/2019-11-20/texas-address-points-datasets-transformed-into-common-schema/

[2019-11-20 13:09] ghost opened #111 "Speaker Slides Forum 2018"
Form parameters
==================

Name: Yanli Zhang
Email: zhangy2@sfasu.edu
Phone: 936-468-2157
Address: 419 East College St, Nacogdoches, TX, 75962
Organization: SFASU
Industry: Education
Question/Comment:
`I was at the 2018 GIS Forum and when I submitted my presentation, I clearly label it as "NO" for putting it online later. However, I just found my entire file is online. Would you please re

[2019-11-20 14:43] ilyannakadich commented on #107
@christoball  Looks great to me!  Thoughts @gmullins ?

[2019-11-20 14:50] ghost commented on #107
@christoball @ilyannakadich Looks great to me. My only suggestion is to put Michelle's quote in italics or some other way to offset it within that paragraph.

[2019-11-20 15:26] christoball commented on #111
@mitchellryant i've deleted them from speakerdeck and made a commit to remove the link on the 2018 agenda page.

[2019-11-20 19:54] KCMack opened #113 "Missing slide deck"
Located:  M:\Forum_GeoRodeo\2019_Forum\Presentations

Thursday 3:00 presentation  - Carmona_Open Data_Yes_videobuttons

[2019-11-21 13:24] #109 closed, assigned to nobody

[2019-11-21 13:46] ghost commented on #111
@christoball @KCMack if the changes have been made and everything is in order, then create a PR to make the changes.

[2019-11-21 13:59] jwhaney opened #114 "stratmap orthoimagery & elevation-lidar pages ---> black font over image"
https://tnris.org/stratmap/orthoimagery/

the black font on top of the image below on the stratmap orthoimagery page is difficult if not impossible to read. i think it might look better white with a black shadow. the stratmap elevation-lidar page has the same issue - https://tnris.org/stratmap/elevation-lidar/.

![Screenshot from 2019-11-21 07-46-48](https://user-images.githubusercontent.com/13525

[2019-11-21 14:39] jwhaney opened #115 "applications & utilities page - 2017 ISWP text"
https://tnris.org/applications-and-utilities/

the text under the 2017 ISWP seems to have a cut off sentence or something left off accidentally. the section with the error is under the bullets (see photo below). i would just fix it but i'm not sure what the text is supposed to say...

![iswp17](https://user-images.githubusercontent.com/13525011/69347539-45fbfc80-0c3a-11ea-904d-ad03f13f9e37.png)

[2019-11-21 20:58] christoball commented on #111
resolved in #110

[2019-11-21 20:58] #111 closed, assigned to christoball, KCMack

[2019-11-21 21:30] #107 closed, assigned to christoball, ilyannakadich

[2019-11-21 21:32] jwhaney commented on #115
resolved via commit 1e231166883742b018da9c6535ccb26ec5bf9c74

[2019-11-21 21:32] #115 closed, assigned to christoball, adambreznicky, jwhaney

[2019-11-22 13:37] adambreznicky commented on #4
this request is several months old, @christoball do we know a status/plan/response for this?

[2019-11-22 14:39] adambreznicky opened #117 "update bootstrap to v4"
this is a big task, but bootstrap should be updated to version 4.3.1 (latest). currently using version 3.4.1.

v4 is a major rewrite of the package so i expect this requires a slow, conscientious process of implementing minor alterations across dozens (if not hundreds) of .md & .njk files. the most obvious or significant change to make the update will be a combing of every markdown, template, & co

[2019-11-22 15:23] adambreznicky commented on #9
octogonz is onto something: https://www.bountysource.com/issues/72452391-fix-deprecation-warning

issue is related to terser-webpack-plugin creating a .cache folder an dropping a cache within it inside the node_modules on prod build. on initial prod build, the warning appears and this folder doesn't exist. doing a prod build a 2nd time creates this folder and the warning isn't present. subsequent

[2019-11-22 15:53] christoball commented on #4
@adambreznicky i've talked to @ThorTheDestroyerand I'll be addressing this, should be resolved today.

[2019-11-22 16:29] adambreznicky commented on #9
latest version of terser-webpack-plugin resolved the issue but webpack 4 doesn't require latest  so had to explicitly add it to package.json to be installed. upon webpack 5 release this explicit install can be removed from the package.json.

global install of gulp conflicted with this explicit install also. global gulp is no longer necessary so it has been removed as a requirement. updated jenkins

[2019-11-22 16:29] #9 closed, assigned to christoball

[2019-11-22 16:39] adambreznicky commented on #1
duplicate of issue 108?

[2019-11-22 16:41] christoball commented on #1
@adambreznicky I talked to @mitchellryant and we'll close this one and make an issue for banner when new ones come up. We'll put our banner schedule in google docs or something instead of here.

[2019-11-22 16:41] #1 closed, assigned to christoball, KCMack

[2019-11-22 16:48] adambreznicky commented on #1
@christoball @mitchellryant
right on, that sounds good to me! i was just trying to bring attention to the fact this issue only exists to say that we are working on another issue (of which actually has the details of the task) and that this year's schedule has come to an end. however y'all wanna manage it moving forward is cool with me.

a google doc with the long term list sounds like a great idea

[2019-11-25 19:51] KCMack opened #121 "2020 Training"
Please change the reference from 2019 to 2020 listed above the updated training schedule.
@christoball

[2019-11-25 19:52] jwhaney opened #122 "texas imagery service page"
https://tnris.org/texas-imagery-service/

scroll down a ways to the FAQ section and the general faq column section on the left pops up vertically and overruns into the map area.

![Screenshot from 2019-11-25 13-48-07](https://user-images.githubusercontent.com/13525011/69572928-bc766280-0f8a-11ea-9317-b07df3e81bdf.png)

[2019-11-25 20:37] #4 closed, assigned to christoball

[2019-11-25 20:37] #114 closed, assigned to christoball

[2019-11-25 20:38] christoball commented on #113
resolved in #119

[2019-11-25 20:38] #113 closed, assigned to christoball

[2019-12-02 19:49] #121 closed, assigned to nobody

[2019-12-03 19:33] geochik opened #124 "Upload GIS Solution Group Notes"
Please upload the attached GIS Solution Group notes:

View Notes from June 2019
[2019-06-05-GIS-SG-Meeting-Notes.pdf](https://github.com/TNRIS/tnris.org/files/3918329/2019-06-05-GIS-SG-Meeting-Notes.pdf)

View Notes from July 2019
[2019-07-16-GIS-SG-Meeting-Notes.pdf](https://github.com/TNRIS/tnris.org/files/3918330/2019-07-16-GIS-SG-Meeting-Notes.pdf)

No meeting held August 2019

View Notes from

[2019-12-04 15:17] ghost commented on #108
@christoball I spoke with Communications on this yesterday, and there will not be a press release, rather they will tweet it once the banner is up on our site. I'm open to writing a brief article to explain it once someone clicks on the banner. I'm wrapped up in a lidar evaluation today and tomorrow (Thu), but happy to chat with you of course. The RFO itself has not been released. Date still TBD.

[2019-12-04 15:23] ghost commented on #108
@christoball Also, this doesn't have a whole lot to do with TWDB Contracts, although I welcome their review. This is coming out from DIR Contracting.

[2019-12-05 20:36] #124 closed, assigned to christoball

[2019-12-06 21:42] ThorTheDestroyer opened #126 "StratMap Elevation Page hyperlink text"
@christoball Noticed the below issue on the stratmap elevation page after recent update to move the status map.
![image](https://user-images.githubusercontent.com/8398036/70358450-02f77700-183f-11ea-88d6-b9a30cd7766e.png)

[2019-12-09 20:43] ilyannakadich opened #128 "Videos for land parcels and address points"
@christoball  According to Matt's email, the videos now have closed captioning and are located here:  S:\Shared\90Temp\TNRIS\Video  What is the next step to get them on YouTube and the Land Parcel and/or Address Points pages?  Thank you! Ilyanna

[2019-12-10 16:15] christoball commented on #117
Started a feature branch for this called:
feature/bootstrap-4

I'll be going through it as I can to bring it all into alignment.

[2019-12-10 16:18] christoball commented on #128
@ilyannakadich Can you provide some titles and a very short description of each one that can be used for the youtube?

[2019-12-10 16:30] christoball commented on #128
@ilyannakadich how is this for Michelle Culver?

Michelle Culver, a Natural Resources Specialist with the Texas General Land Office's Beach Access and Dune Protection Program, speaks about how her agency uses the Address Points and Land Parcel data to monitor and regulate construction on Texas's beaches.

[2019-12-11 21:38] geochik opened #130 "GIS Community Meeting Agenda"
Please post GIS Community meeting agenda (attached) to GIO calendar event - 1st Quarter GIS Community Meeting - https://tnris.org/geographic-information-office/
[GISComm_Agenda_20200114.pdf](https://github.com/TNRIS/tnris.org/files/3952686/GISComm_Agenda_20200114.pdf)

[2019-12-11 21:47] ilyannakadich commented on #128
@christoball Sounds great!

[2019-12-12 16:05] christoball commented on #108
@gmullins Talked to @rwade2126 and we came up with this tag line for the contract banner

The StratMap Contract
Creating Texas Data

![stratmapcontract_banner_2020](https://user-images.githubusercontent.com/1877550/70728356-e340d280-1cc6-11ea-9d7e-3584e6f54e7b.jpg)

[2019-12-12 16:06] christoball commented on #108
@gmullins need a quick line explaining what we're announcing for the other text.

[2019-12-16 19:56] christoball opened #131 "Edit javascript for GIO agenda once API is ready"
An issue to remind us to edit the javascript once the API has been adapted for the GIO Community Meeting Agenda.

[2019-12-16 20:23] #126 closed, assigned to christoball

[2019-12-16 21:25] #130 closed, assigned to nobody

[2019-12-17 13:46] jwhaney commented on #131
close via PR #133. the new code is sitting on the develop branch for now until i get the new api code approved, merged, and deployed. then i'll merge the tnris.org develop branch into master to go to production.

[2019-12-17 13:46] #131 closed, assigned to christoball, adambreznicky

[2019-12-17 15:29] jwhaney commented on #131
@christoball everything is up and running now. both the api and tnris.org have been deployed. new form input for community meeting agenda pdf urls is available in the api admin console now. i went ahead and put the hardcoded url in the appropriate gio calendar event record. everything seems to work well. let me know if you have any questions or concerns.

![Screenshot from 2019-12-17 09-25-57](htt

[2019-12-17 22:06] ghost opened #134 "StratMap Contracts page rewrite"
@christoball
Special Announcement across the top (to be removed after solicitation closes in early February).
Small change:
After four years of success, the re-bid of StratMap contracts is coming up this December 20, 2019!

Body change:
The [Department of Information Resources (DIR)](https://dir.texas.gov/) maintains multiple [Cooperative Contracts](https://dir.texas.gov/View-About-DIR/Pages/Conte

[2019-12-17 22:10] christoball commented on #134
@gmullins I'm going to combine this into #108

[2019-12-17 22:10] #134 closed, assigned to nobody

[2019-12-17 22:11] christoball commented on #108
New text from @gmullins

 Special Announcement across the top (to be removed after solicitation closes in early February).
Small change:
After four years of success, the re-bid of StratMap contracts is coming up this December 20, 2019!

Body change:
The Department of Information Resources (DIR) maintains multiple Cooperative Contracts which are designed to strengthen Texas’ capabilities to procure

[2019-12-17 22:12] christoball commented on #108
@gmullins @ThorTheDestroyer Newest Banner draft

![stratmapcontract_banner_2020_2nd](https://user-images.githubusercontent.com/1877550/71038667-f51bde80-20e7-11ea-95e9-b33dd8ab6271.jpg)

[2019-12-18 14:39] ghost commented on #108
@christoball @ThorTheDestroyer I love it! Only suggestion is to crop off the Dept. of Information Resources line from their logo.

[2019-12-18 23:12] christoball commented on #128
@ilyannakadich @gmullins

Here's a look at the videos embedded into the tops of the pages:
http://washburn.tnris.org/stratmap/land-parcels/

http://washburn.tnris.org/stratmap/address-points/

What do yall think?

[2019-12-19 16:04] ghost commented on #128
@christoball @ilyannakadich I think they look great! Is there a way to freeze frame the land parcels one not on John's face? I like how the address points one is freeze framed on the fire scene.
Will be fun to put one on the lidar page too when that gets produced by TWDB Comm.
Thx!

[2019-12-19 16:24] christoball commented on #128
@gmullins I don't think the screenshots of the billboards are as interesting as the fire ones and I like seeing the texas graphic to tie it to the other pages. Take a look now, I put a screenshot where you can see his label so it makes more sense why he's on there.

http://washburn.tnris.org/stratmap/land-parcels/

[2019-12-19 22:53] ilyannakadich commented on #128
@ilyannakadich @gmullins How about these short descriptions for the other two videos?

Texas Department of Transportation Right of Way Highway Beautification Program utilizes the statewide land parcel dataset to save time and effort in the billboard permitting process to examine land use, determine access rights, and remove illegal signs.

Texas A&M Forest Service utilizes the statewide address po

[2019-12-31 14:10] ghost commented on #108
@christoball The RFO from DIR has been posted so I'm ready to push the banner and website changes when you are.

On the page, the announcement should now read:
After four years of success, the re-bid of StratMap contracts is happening now! See the official [Request for Offer](http://www.txsmartbuy.com/sp/DIR-CPO-TMP-444) posting.

[2019-12-31 17:22] christoball commented on #108
@gmullins front page preview here:
http://washburn.tnris.org/

I felt like the logos weren't necessary on the front page but I can still add them

Contracts page preview here:
http://washburn.tnris.org/stratmap/stratmap-contracts/

[2019-12-31 19:26] #108 closed, assigned to christoball

[2019-12-31 19:26] #128 closed, assigned to christoball, ilyannakadich

[2020-01-07 19:30] jwhaney commented on #122
resolved with commit 2765304cb6b3db70a0eeb49559554bbf7de87995

[2020-01-07 19:30] #122 closed, assigned to christoball, jwhaney

[2020-01-08 20:43] rwade2126 opened #136 "New Logo for Datahub"
Chris, I think the moving bubbles icon that we are using for the current datahub is getting really old and annoying.  Can you create a new graphic/icon for the datahub?

Thanks,

Richard

[2020-01-08 21:08] ghost commented on #136
duplicate of #55

[2020-01-08 21:08] #136 closed, assigned to christoball

[2020-01-08 21:09] ghost commented on #55
@christoball,

@rwade2126 wants to move this to top priority.

#136

[2020-01-09 20:03] ghost opened #137 "SM Contracts text edit"
@christoball At the top of https://tnris.org/stratmap/stratmap-contracts/ , can you please change "For the solicitation release date and other....." to "For the solicitation **response due date** and other....."

thx!

[2020-01-09 20:09] christoball commented on #137
@gmullins preview up here and going ahead and pushing to production.

http://washburn.tnris.org/stratmap/stratmap-contracts/

[2020-01-09 20:26] #137 closed, assigned to christoball

[2020-01-09 20:27] ghost commented on #137
@christoball perfect

[2020-01-17 15:49] ghost opened #140 "Change Texas Imagery Service Map link"
can you change the link on https://tnris.org/texas-imagery-service/ to use the map below.

**Map URL**
https://tnris-twdb.carto.com/u/tnris/builder/7ec0d7df-a00d-49e5-b4e4-1b15929f6cda/

**Embed Code**
<iframe width="100%" height="520" frameborder="0" src="https://tnris-twdb.carto.com/u/tnris/builder/7ec0d7df-a00d-49e5-b4e4-1b15929f6cda/embed" allowfullscreen webkitallowfullscreen mozallowfullscre

[2020-01-17 16:47] #140 closed, assigned to christoball

[2020-01-17 19:03] KCMack opened #142 "Front page addition - 2020 Training Registration is OPEN"
Please create mention on front page that TNRIS Training Registration is now OPEN

[2020-01-17 19:04] KCMack opened #143 "TNRIS Training Registration now OPEN"
Please create mention on front page that TNRIS Training Registration is now OPEN
@christoball

[2020-01-21 13:46] jwhaney commented on #142
closing. duplicate of #143

[2020-01-21 13:46] #142 closed, assigned to christoball

[2020-01-21 16:44] adambreznicky opened #144 "push /maps page to prod"
the /maps page has been sitting idle, and complete, for several months now. it is overdue to be pushed to production. we have been waiting on management to reconcile this new page with TWDB IT upstairs. pushing to prod from our side is absolutely no issue and can be done in minutes but we need approval "from other DEAs as it provides their maps" and creates cause for the TWDB website maps page to

[2020-01-21 17:11] christoball commented on #143
@KCMack training preview on front page

http://ellwood.tnris.org/

[2020-01-21 17:16] KCMack commented on #143
Looks great!

[2020-01-21 17:19] ghost commented on #144
@adambreznicky We have the green light from Richard to publicly launch the new Map Catalog. So anything that needs to be done to push it out there can go. Hurrah! He said the other DEAs (John and Jessica) approved with no issues.

This will run concurrently with the TWDB maps site for a month or two until they take theirs down and link to us.

[2020-01-21 17:31] christoball commented on #144
@adambreznicky @gmullins @e00o

Preview here of Maps link in header, footer
http://washburn.tnris.org/

And on the order map page:
http://washburn.tnris.org/order-map/

[2020-01-21 17:34] adambreznicky commented on #144
looks good to me! both header & footer links, as well as the 2 links on the order-map page are all correct. i vote push it at will.
:)

[2020-01-21 17:37] #144 closed, assigned to christoball, geochik

[2020-01-22 19:37] #143 closed, assigned to christoball, KCMack

[2020-01-22 19:52] geochik opened #147 "January 2020 GIS SG Notes"
Please upload January 2020 GIS Solution Group notes to the website - https://tnris.org/geographic-information-office/gis-solutions-group/

Also add - Next meeting date - March 3, 2020

FYI - A December meeting was not held.

[GIS SG Meeting Notes 2020-01-07_Final.docx](https://github.com/TNRIS/tnris.org/files/4099637/GIS.SG.Meeting.Notes.2020-01-07_Final.docx)

[2020-01-23 13:22] #55 closed, assigned to christoball, rwade2126

[2020-01-24 15:34] christoball opened #149 "Switch SM Contracts Banner to Training (Feb 3)"
Change the front SM Contracts banner on February 3 to coincide with RFO closing

Plan to switch to Forum training

[2020-01-27 17:28] christoball opened #150 "Automate GIS Solutions Group notes list"
Make the list of Solutions Group Notes automatically populate on this page:
https://tnris.org/geographic-information-office/gis-solutions-group/

- Requires front-end javascript, 'For loop'
- Shows last 12
- API would need checkbox or dropdown to select a document type, i.e. "Solutions Group Notes"

Some of the older Notes were published as markdown pages. I'm fine with not referencing these at th

[2020-01-27 17:45] jwhaney commented on #150
backend api issue created here - https://github.com/TNRIS/api.tnris.org/issues/62

[2020-01-31 13:31] #147 closed, assigned to nobody

[2020-02-03 19:37] #150 closed, assigned to christoball, adambreznicky, jwhaney

[2020-02-04 13:15] #149 closed, assigned to christoball

[2020-02-04 16:52] geochik opened #156 "Census News Article"
The attached article is ready for publishing to the News section of TNRIS.ORG. Please feel free to make design changes. Please also include Dr. Lila Valencia, Texas Demographer's Office as Editor (Edited by...) if possible.
[Census_Article_Final.docx](https://github.com/TNRIS/tnris.org/files/4154714/Census_Article_Final.docx)
Census _web page badges_ can be found at the following links:
https://20

[2020-02-05 16:38] christoball commented on #156
@geochik I have some questions about the article and some suggestions/edits. Can we go over when you're back in the office?

[2020-02-05 16:42] geochik opened #158 "2020 Quarter 2 GIS Community Meeting Notes"
Finally received guest presentation slides today. Community notes are now ready for web publishing. Presentation slides are located here - https://twdb-my.sharepoint.com/:f:/g/personal/felicia_retiz_twdb_texas_gov/EnnhH0Xb14lLpV1dGdVp7zsBYx9OaSLjH4eHzjOnVkq94w?e=FAZ4jm
Notes:
[20200114_Quarter1_GISCommunityMtg_Notes.docx](https://github.com/TNRIS/tnris.org/files/4160759/20200114_Quarter1_GISCommun

[2020-02-05 17:10] christoball commented on #158
@geochik be sure to tag me @christoball in the comment when you make the issue to make sure I see it.

[2020-02-05 17:11] geochik commented on #158
Oh yes!! Will do. Thanks!

[2020-02-05 17:12] geochik commented on #156
@christoball  Yes, but feel free to edit the document and send to me for review in advance if you like.

[2020-02-05 17:51] christoball commented on #156
@geochik that makes sense, You can see what I did in the link below.

The main major change I suggest is some reordering. With news articles, the start should generally deal with the most recent issues. I moved the paragraph about TNRIS's history supporting the census further in, and start off with the main point of the article, which is supporting this year's efforts

http://glidden.tnris.org/new

[2020-02-10 15:02] geochik commented on #156
[Census Article w:Edits.docx](https://github.com/TNRIS/tnris.org/files/4181468/Census.Article.w.Edits.docx)
@christoball changes have been made. All grammatical with a couple of new words, all the way to the end. Thanks!

[2020-02-10 15:42] ThorTheDestroyer opened #159 "Lidar state specification link change"
@mitchellryant  or @christoball

Please change the link to the Lidar specification , on the StratMap Elevation Program page.

New Link should be

http://lt.tnris.org.s3.amazonaws.com/d/StateLidarSpecification/StateofTexas_StratMap_Lidar-specification_ver_XIII.pdf

Or you can put the attached file in the current repository location, https://tnris-org-static.s3.amazonaws.com/documents/lidar_spec.pdf

[2020-02-11 15:08] #159 closed, assigned to nobody

[2020-02-11 15:32] christoball commented on #156
@geochik I've finalized the text with latest edits. It's ready to go when you give the green light.

http://glidden.tnris.org/news/2020-02-06/tnris-supports-efforts-make-texas-count/

[2020-02-12 16:45] christoball commented on #158
@geochik draft here, ready to go live when you say so:
http://ellwood.tnris.org/geographic_information_office_news/2020-02-12/gis-community-meeting-notes-slides-2020-1st-quarter/

[2020-02-12 18:55] #158 closed, assigned to christoball, geochik

[2020-02-12 23:08] geochik commented on #156
@christoball Okay! This version has now been officially vetted by TWDB communications.  Please replace the current article with this text. Once complete, I'll review one last time!
[Census.Article.w.TWDBEdits.docx](https://github.com/TNRIS/tnris.org/files/4195516/Census.Article.w.TWDBEdits.docx)

[2020-02-12 23:34] geochik commented on #156
@christoball  We are good to launch!

[2020-02-13 18:05] #156 closed, assigned to christoball, geochik

[2020-02-13 22:20] christoball opened #165 "SCAUG Ad Graphic"
1st Draft by Monday

Ad for SCAUG Booklet

[2020-02-13 22:21] christoball opened #166 "New TNRIS Promo card"
Rework TNRIS card handout

DataHub
Forum Save the Date
Training

[2020-02-19 20:02] LaurenKirk opened #167 "Updated RDC Pricing and Turn Around Time (March 2)"
@christoball @mitchellryant  @csidenblad

Hey Chris, effective March 2nd the public pricing listed in the "Historic Imagery Pricing" section on TNRIS.org will update.  Can you please add the following updates?  Format can look exactly the same as it is currently.

Research:
$60/ Full Historical Search (multiple years or sites)
$30/Single Year Search (one site and one year)
$15/Frame Search (custom

[2020-02-19 22:59] christoball commented on #165
@ilyannakadich @geochik Here's what I'm thinking for this:
![datahub-savethedate-scaugpreview](https://user-images.githubusercontent.com/1877550/74884629-3d01f080-5339-11ea-83d9-01ee79e91400.jpg)

[2020-02-20 12:56] ilyannakadich commented on #165
@christoball  Looks great!

[2020-02-20 14:29] geochik commented on #165
@christoball Graphics are great! I think it's a little overcrowded with text in the top right corner. Can we omit the word "Data" and move the TNRIS logo to the left? See image...
![image](https://user-images.githubusercontent.com/7750220/74944127-23a18880-53bb-11ea-91e5-b60f9e800838.png)

[2020-02-20 15:54] christoball opened #168 "TNRIS Education Resources"
add the Resources List to the education website
[Texas.Natural.Resources.Information.System.Resources.docx](https://github.com/TNRIS/tnris.org/files/4231704/Texas.Natural.Resources.Information.System.Resources.docx)

[2020-02-20 20:25] christoball commented on #165
@geochik hows this look?
![datahub-savethedate-scaugh2020-2](https://user-images.githubusercontent.com/1877550/74975502-c0c8e500-53ec-11ea-9b60-6333a72e85c2.jpg)

[2020-02-24 22:26] christoball commented on #165
Graphic finalized and sent to print

[2020-02-24 22:26] #165 closed, assigned to christoball, ilyannakadich

[2020-02-25 14:52] geochik opened #169 "Course Cancellation"
![cancelled](https://user-images.githubusercontent.com/7750220/75258344-f0406e80-57ab-11ea-9c5d-62e60a9f6c73.PNG)
@KCMack  Are these courses closed or cancelled? If cancelled, please change the status to cancelled. Thank you!

[2020-02-26 16:44] ghost commented on #169
@geochik @KCMack the status field is a true\false selection, (either open or closed). there is not  domain table with with other choices.

if the class is cancelled, I would recommend adding the word "cancelled" to the title of the class

[2020-02-26 18:14] KCMack commented on #169
The courses were both closed until we had a chance to reschedule.  They  have both been rescheduled.

[2020-02-26 18:15] KCMack commented on #169
Issue needs to be closed

[2020-02-26 19:14] christoball commented on #169
Resolved, spoke to @KCMack about notes we can make in descriptions to be clearer about what's going on.

[2020-02-26 19:14] #169 closed, assigned to christoball, KCMack

[2020-03-02 21:12] ghost opened #171 "Update StratMap Contracts Special Announcement"
@christoball Can you please update the SM Contracts Special Announcement at the top of the page to read:
After four years of success, the re-bid of StratMap Contracts is happening now! The solicitation response deadline has passed. We anticipate the new pool of vendors to be available with active DIR master contracts by summer 2020.

Please leave the DIR logo, Type of Service/Products and Descript

[2020-03-03 14:14] csidenblad commented on #167
@christoball @LaurenKirk @adambreznicky There were some questions regarding the formatting so lauren and I have provided a screenshot of the formatting we would like. Please let me know if you have any questions.

![image](https://user-images.githubusercontent.com/23489372/75783926-fb087f80-5d26-11ea-9308-162a614d7c8b.png)

[2020-03-03 16:21] christoball commented on #167
@LaurenKirk @csidenblad Ok, i think i matched this and I also rearranged some stuff to improve the layout:
http://washburn.tnris.org/research-distribution-center/historical-imagery-archive/

[2020-03-03 20:24] christoball commented on #167
@LaurenKirk @csidenblad latest version with requested edits. Ready to push when you say so:
http://washburn.tnris.org/research-distribution-center/historical-imagery-archive/

[2020-03-03 20:29] LaurenKirk commented on #167
@christoball @csidenblad

Chris, looks great!  Please proceed.  Thank you!!

[2020-03-04 16:36] #167 closed, assigned to christoball, csidenblad, LaurenKirk

[2020-03-04 16:50] #171 closed, assigned to nobody

[2020-03-04 19:21] christoball commented on #168
rough draft going here, will update with more soon:
http://ellwood.tnris.org/education/teachers/

[2020-03-05 19:29] christoball commented on #166
@gmullins @ilyannakadich @geochik Preview of both sides of card
![datahub-side-newcard-web-preview](https://user-images.githubusercontent.com/1877550/76018044-3d77bb00-5ee5-11ea-89a4-aaf9cfc78c0b.jpg)

*****

![split-side-newcard-web-preview](https://user-images.githubusercontent.com/1877550/76018048-3e105180-5ee5-11ea-984a-3ee7f5f4816c.jpg)

[2020-03-05 20:24] ilyannakadich commented on #166
@christoball @gmullins @geochik Looks great!  Can we possibly remove the commas in Browse, Download, Order and remove the www?  Also, please send a layout on 11x17 with four front and back.  Thanks, Chris!

[2020-03-06 18:27] christoball opened #173 "Update TNRIS Course Cancellation Policy"
## TNRIS Training Program Cancellation Policy

Course cancellations are often unavoidable. Whether the class cancellation is initiated by the student or the Training Program, every effort to send an immediate notification must be exercised.

### Withdrawal/Cancellation

All course cancellations require written notice no later than 14 business days prior to the first day of the scheduled course. Em

[2020-03-06 18:33] KCMack commented on #173
Thank you Chris.  Looks good.

[2020-03-10 13:37] geochik opened #174 "Add March 2020 GIS SG Meeting Notes"
@christoball  Please add theses March 2020 meeting notes to the GIS SG page. Thank you!
[2020-03-03-GIS-SG-Meeting-Notes.docx](https://github.com/TNRIS/tnris.org/files/4312693/2020-03-03-GIS-SG-Meeting-Notes.docx)

[2020-03-11 15:36] christoball commented on #173
@KCMack this is ready to preview:
http://glidden.tnris.org/education/

[2020-03-12 15:46] #173 closed, assigned to christoball, KCMack

[2020-03-16 18:38] christoball commented on #174
these have been added

resolved.

[2020-03-16 18:38] #174 closed, assigned to nobody

[2020-03-16 18:38] christoball commented on #166
resolved

[2020-03-16 18:38] #166 closed, assigned to christoball, geochik, ilyannakadich

[2020-03-17 16:07] KCMack opened #176 "Notice about suspended courses and available online training"
[Notice from TNRIS Training.docx](https://github.com/TNRIS/tnris.org/files/4344422/Notice.from.TNRIS.Training.docx)

Please post

[2020-03-18 16:12] christoball commented on #176
Hey, so I'm seeing that the courses in May are still available? Should  this be more specific to say that courses are suspended for the time being?

[2020-03-18 16:30] KCMack commented on #176
Yes, that will work.  My rationale for keeping them open is that if people want to register, I’d want them to with the thought that we’ll be able to be at work by May and subsequent months.

Sorry for the late response – was working on my spreadsheet.

Thanks for making this happen and for asking great questions.

Stay healthy,
Kathleen

Kathleen C. Mack
Operations Manager
Texas Natural Resources

[2020-03-18 18:33] christoball commented on #176
@KCMack see article preview here:
http://razor-wire.tnris.org/news/2020-03-17/tnris-training-suspended-providers-still-hold-online-courses/

See education page preview here:
http://razor-wire.tnris.org/education/

[2020-03-18 22:20] KCMack commented on #176
Looks really, really good Chris.

[2020-03-19 18:44] #176 closed, assigned to christoball

[2020-03-25 15:34] ghost opened #179 "new TCEQ logo"
I received a new TCEQ logo from Jennifer Kirby.  We will need to update the logo on DataHub and maybe all over the tnris site.

![2CR-TCEQ](https://user-images.githubusercontent.com/8459928/77554180-bbdfd100-6e83-11ea-945b-f92da2c7cf64.png)

[2020-03-26 14:49] christoball commented on #179
@mitchellryant I'll start going through and fixing this.

[2020-03-30 17:09] jwhaney commented on #179
fyi, i've added this logo to the tceq external collection on datahub and made it the thumbnail.

realized now i need to resize the image so it looks like the other external entities. i'll take care of it.

[2020-04-01 14:36] adambreznicky commented on #179
i noticed it when i was doing datahub stuff a couple days ago. i didnt realize this issue existed so in that moment i resized it, put it on a grey background like the other agencies, and reuploaded.
sorry if i accidentally stepped on y'alls toes with it

[2020-04-01 15:44] adambreznicky commented on #179
reopened since there are references to a tceq logo within tnris.org.
datahub has been updated but references to the logo across tnris.org need to be addressed.

[2020-04-01 19:27] christoball commented on #168
@KCMack @geochik @rwade2126 Latest draft of education page.

If this looks about ready we can push through:
http://ellwood.tnris.org/education/teachers/

[2020-04-01 19:35] KCMack commented on #168
https://www.austincc.edu/academic-and-career-programs/areas-of-study/design-manufacturing-construction-and-applied-technologies/geographic-information-systems

The link used for ACC was for the continuing education program versus the academic program.  It may be appropriate to offer both.  Please look at them and lets talk.
@christoball

[2020-04-01 19:36] geochik commented on #168
@christoball @mitchellryant
I like the page, the verbiage, the design. However, I do have a concern that my name and email address are directly on the page. I don't mind being the POC but I distinctly remember that we don't put email addresses directly on web pages due to potential "bot" activity. Can we direct inquiries to the contact page and have those inquiries assigned to me?

[2020-04-01 19:42] KCMack commented on #168
I think it looks terrific, Chris.  Thank you.

Good point, Felicia.

Through GitHub I provided the ACC GIS academic program website.  The one listed is for continuing education.  That’s okay and yet in my opinion we probably want to list the academic, certification program website, too.  So, I vote for both.  There’s a difference in what people can expect from each course of study.

kcm

Kathleen

[2020-04-01 20:03] christoball commented on #168
@geochik @KCMack I think a good solution would be adding the option for a tour inquiry to the general contact page, as one of the selections:
![image](https://user-images.githubusercontent.com/1877550/78181395-ea345200-7429-11ea-96c9-a41576b9fd5a.png)

[2020-04-01 21:47] christoball commented on #168
@KCMack I don't want to throw a wrench into anything, and I think we can release it as is, but I started to wonder why we only highlight ACC's GIS program and not other programs around the state. We should generally try not to be Austin-centric, right?

@geochik thoughts?

[2020-04-01 21:51] KCMack commented on #168
ACC has the certification programs (2 of them) that prepare students to get a job.  It is focused on GIS as opposed to geography or geospatial sciences (as in the masters degree that Gayla has).  We can add those over time.  When I created the information there was interest in getting it on the website quickly. We envision that this page will be added to over time.

Do what you think is best as lo

[2020-04-01 22:27] christoball opened #180 "Education Resources Page Marketing (for next school year)"
Ideas for marketing the Education Resources page, long term (beginning of next school year)
1) Banner on the TNRIS home page
2) Tweet from all accounts and have TWDB retweet
3) Story in the TWDB newsletter
4) Communication with Surrounding ISD's
5) anything else we can think of

[2020-04-01 22:30] christoball commented on #168
Link to TWDB Coloring book. We should probably incorporate this as well.
https://www.twdb.texas.gov/publications/brochures/conservation/doc/ColoringBook.pdf?d=12190

[2020-04-01 22:31] KCMack commented on #180
Thanks, Chris.

[2020-04-01 22:33] KCMack commented on #168
Agreed after we let the communications group know.

[2020-04-02 12:34] KCMack opened #181 "Spelling Correction - Education Notice"
On notice of course cancels due to virus
Change spelling of TeachMeGIS
from TeachmeGIS
to TeachMeGIS

@christoball

[2020-04-02 14:26] geochik commented on #168
@christoball @KCMack
Did we just add the Data Hub or was that already in there.?The DataHub is very advanced for k-12. I don't feel comfortable having it on there where there is no tutorial on how to use not just the Hub itself, but the data it contains. I would like to see it moved into an "advanced" box or removed. What do y'all think?

[2020-04-02 14:32] christoball commented on #168
@geochik everything on there is what was provided to me as the page.

Can you, me, @KCMack @rwade2126 stay on the line after the meeting today to talk about this stuff.

[2020-04-02 14:41] #181 closed, assigned to nobody

[2020-04-02 14:55] geochik commented on #168
Sure thing!

[2020-04-02 15:24] christoball commented on #179
I reuploaded the image as the same filename into the API and it works correctly across the site.

[2020-04-02 19:14] #179 closed, assigned to christoball

[2020-04-02 21:10] christoball commented on #168
@KCMack @geochik @rwade2126

More updates: http://ellwood.tnris.org/education/teachers/

let me know if its ready to go

[2020-04-02 21:22] KCMack commented on #168
Looks terrific!!

[2020-04-02 21:25] KCMack commented on #168
I have a question - maybe I spoke too fast.  Everything looks good and I have a couple of questions--

About the contact us...... who will respond to the questions that potentially will arrive?  And, if we receive suggestions, we need to respond to them and if we can use them, acknowledge but if they are out of our realm for any reason, we'll have to explain why we won't use them.  I wonder if we'

[2020-04-02 21:45] geochik commented on #168
@christoball  Wow! You fixed that up fast! I think it's ready to go!!
@KCMack @mitchellryant  I can be the point of contact for now and direct any questions as they come in.
I think it's ready for launch!!

[2020-04-03 16:40] #168 closed, assigned to christoball, KCMack, geochik

[2020-04-03 19:38] ghost opened #185 "Education and Training Contact form"
education contact added to the API and the API has been redeployed.
all it needs now is the front end form added.

copy the general contact form and change the "form_id" to "education" from "contact"

this contact from for should be on the following pages.
https://tnris.org/education/
https://tnris.org/education/teachers/
https://tnris.org/education/purchasers/
https://tnris.org/education/course-c

[2020-04-06 13:27] geochik commented on #185
@christoball Please remove text above contact button -"We encourage teachers and students to reach out to us with any suggestions or questions."
We aren't ready for "suggestions" and really we aren't ready for questions. We will see how it goes with a simple "contact us" button. Thank you!

[2020-04-06 15:26] christoball commented on #185
@geochik why are we putting it on the page then? What's the reason for having a contact button if people can't ask questions? Just to have comments? How is a comment different from a suggestion? Not trying to be difficult but I don't really see why we should have a contact button on here if we don't want their questions or comments.

@mitchellryant I don't follow what is being suggested here. I ha

[2020-04-06 16:21] ghost commented on #185
@christoball i think it is easier for the user to get to the contact form directly from the page they are on. There is still a lot of confusion on what radial button we use. We do this on [Texas Imagery Service page](https://tnris.org/texas-imagery-service/) and the [Order Maps Page](https://tnris.org/research-distribution-center/custom-maps/).

the button that loads a new page with the form, like

[2020-04-06 16:24] christoball commented on #185
@mitchellryant thanks for making it clearer - that makes more sense to me. Ill move forward with that stuff.

[2020-04-08 15:54] geochik opened #186 "GIS Community Meeting - Qtr 2"
@christoball
Please create a new title slide for the 2nd Quarter GIS Community Meeting. Also, please remove the scan code in the upper right corner. The meeting date is April 30, 2019.
The body template will also require updating to reflect 2nd quarter.
Thank you!

[2020-04-09 19:05] geochik opened #187 "GIS Community Meeting Invitation"
@christoball
I am unable to get into MailChimp b/c it is asking me to verify my computer with a password and I cannot get to the GIO mailbox. So, I need your help. I am requesting an updated 2nd Qtr GIS Community invitation. You can replicate the last campaign and make the changes there. I will change the information on the GIO page.
Please add the following text to the body of the invite:
_UPDATE

[2020-04-09 21:15] christoball commented on #187
We should change the main photo since it shows a in person meeting.

Do you like any of these for a main image? The top one is pretty clean and straightforward and maybe in line with our style, but i also like the second one.

![image](https://user-images.githubusercontent.com/1877550/78941323-13ce2880-7a7d-11ea-9b30-6f29ab3aef8a.png)

![image](https://user-images.githubusercontent.com/1877550/789

[2020-04-09 23:14] geochik commented on #186
@christoball
I updated the GIO page and used the "Location:" field to enter the Webinar registration link and this happened.....
<img width="485" alt="Screen Shot 2020-04-09 at 6 11 32 PM" src="https://user-images.githubusercontent.com/7750220/78948431-ea69c880-7a8d-11ea-8ad7-74cfb76d88ec.png">

Can you fix? And maybe make it a "true" hyperlink on the page? THANKS!!

[2020-04-10 22:31] christoball commented on #186
storing the link here, will have to do a few things to figure this out
https://attendee.gotowebinar.com/register/3231973054519613710

[2020-04-13 17:38] geochik commented on #187
@christoball
Here is the agenda along with an abstract from the guest presenter. I don't have the full version of Acrobat so I can't merge the two. Can you please take care of that and add the agenda to the MailChimp invite? I want to hit send today so as soon as possible is much appreciated!
[GISComm_Agenda_20200430.pdf](https://github.com/TNRIS/tnris.org/files/4470844/GISComm_Agenda_20200430.pdf

[2020-04-13 19:33] christoball commented on #187
@geochik Ok, i've integrated these into the email draft, go have a look.

[2020-04-14 18:53] geochik commented on #186
@christoball
I could no longer wait for you to fix the link so I took care of it with Ryan's help.
Please complete the initial request by EOB Wednesday.

[2020-04-14 20:15] christoball commented on #186
@geochik What do you think of using this for the title slide?
![virtualgismeetingslide](https://user-images.githubusercontent.com/1877550/79269909-cd087600-7e62-11ea-8da2-56d10691d6e5.jpg)

[2020-04-15 14:56] KCMack opened #188 "TNRIS web - online training update - TMG"
TeachMeGIS

Online courses are offered

April 23-25. GISP Exam Preparation Course

May 4-5
Fundamentals of ArcGIS (ArcMap)

May 11-13
Python for Pro - Writing Scripts to Manipulate GIS Data

Contact TNRIS for more information
@christoball

[2020-04-15 15:30] christoball commented on #188
@KCMack have you updated these in the api?

[2020-04-15 15:30] christoball commented on #188
@KCMack I'm not sure what is being requested here.

[2020-04-15 15:32] KCMack commented on #188
This update is for the article referenced on the News section, front page.

[2020-04-15 19:34] christoball commented on #186
Graphics completed and issue resolved

[2020-04-15 19:34] #186 closed, assigned to christoball

[2020-04-15 19:34] christoball commented on #187
resolved, email sent

[2020-04-15 19:34] #187 closed, assigned to christoball, geochik

[2020-04-15 21:34] KCMack commented on #188
May 4-5
Fundamentals of ArcGIS (ArcMap)
$960

May 11-13
Python for Pro - Writing Scripts to Manipulate GIS Data
$1440

[2020-04-15 22:22] ghost opened #190 "Update expired StratMap Contracts"
@christoball  Per the email I CC'd you on, we need to somehow show the expired contracts in red in the chart as no longer available/active. I would like to at least keep all the company logo boxes but maybe gray them out or in the least remove their inactive DIR Vendor Contract page links. DIR has already taken their pages down. Eventually all of these will expire and be replaced by a brand new po

[2020-04-15 22:32] KCMack commented on #188
GISP $400

[2020-04-15 22:44] christoball commented on #190
@gmullins how's this look?
http://haish.tnris.org/stratmap/stratmap-contracts/

[2020-04-15 22:53] ghost commented on #190
@christoball Perfect. Thank you!

[2020-04-16 13:58] #188 closed, assigned to christoball, KCMack

[2020-04-16 14:05] #190 closed, assigned to christoball

[2020-04-17 15:24] geochik commented on #185
@christoball
How much longer before this ticket can be addressed and closed?

[2020-04-17 15:25] christoball commented on #185
@geochik focusing on finishing it today

[2020-04-17 16:14] adambreznicky opened #192 "update package dependencies"
the package dependencies are out of date and 3 are showing the deprecated versions being security risks (as described in the banner on the repo). please update all package dependencies for the site. thanks!

[2020-04-19 18:22] christoball commented on #185
@mitchellryant I've added a contact form for education that can be seen here:
http://ellwood.tnris.org/education/contact/

Is this where you meant 'education' should be put as the ID?

{{form.before("education")}}
  {{form.input("Name", "Name", "text", true)}}

[2020-04-19 18:25] christoball commented on #185
@mitchellryant i didn't see where form_id is in relation to the code

[2020-04-20 16:07] christoball opened #194 "New Pagination for News Articles (bootstrap 4)"
Hi y'all, I need to request your help in updating a feature for the transition to Bootstrap 4.

Currently, on the News page, there is a 'newer' and 'older' button to go through the articles. In bootstrap 4, this UI is no longer supported. While we could still style it ourselves, I do like the new pagination in BS4, and would like to implement it if possible.

Currently, this is the code for this f

[2020-04-20 16:08] christoball commented on #194
the branch is actually **feature/bootstrap-4** (with the dash)

[2020-04-20 16:26] JasonKleinert commented on #194
@christoball you'll need to perform a calculation to determine the number of pages needed for all the articles we have. Here is an example: `number of pages = Math.ceil(total number of articles / number of articles per page)`

[2020-04-20 16:30] adambreznicky commented on #194
the current pagination is implemented via a metalsmith plugin ("metalsmith-paginate" in the package.json file). the assembly of the paginated news pages and and associated buttons occurs during the build/gulp process which is how it generates all the paginated content as separate static pages that _know_ about each other.

on a surface level, i think the upgrade to utilize bootstrap would probably

[2020-04-20 16:55] adambreznicky commented on #185
@christoball that's correct, the form_id goes in the form.before() macro
`{{form.before("< form_id >")}}`

[2020-04-20 16:59] christoball commented on #185
@adambreznicky thanks.

I sent a test form, and @geochik just sent back a reply telling me she got it. I'm going to go ahead and merge.

[2020-04-20 17:17] ghost commented on #185
@christoball i would like the button to be on the main education page, and the k-12 page. to streamline the contact process

[2020-04-20 18:47] christoball commented on #185
@mitchellryant i've added it to all education pages now:
http://ellwood.tnris.org/education/

[2020-04-20 18:56] ghost commented on #185
@christoball thank you.

[2020-04-22 14:07] #185 closed, assigned to christoball, KCMack, geochik

[2020-04-22 14:40] christoball opened #196 "Rework Training Course layout"
Per @geochik, we will rework the layout of the Training courses to be a little more visually interesting and move away from just a listing down the page.

Also add possible categories to help filter (beginners, intermediate, advanced)

[2020-04-22 17:27] KCMack commented on #196
[Training Topic Categories_4.22.20.docx](https://github.com/TNRIS/tnris.org/files/4517936/Training.Topic.Categories_4.22.20.docx)

Try these

[2020-04-22 18:45] christoball commented on #196
@KCMack thank you, so it looks like we have two main categories - **Basic** & **Beyond Basics**?

[2020-04-22 19:37] KCMack commented on #196
YES, and yet the sub categories are important, too if we're going to provide understandable categories.  To be helpful for those looking for more help, the two categories need to include subcategories to be effective.

[2020-04-24 16:05] christoball opened #197 "TNRIS map store page"
Start brainstorming and mocking up a possible TNRIS map store that sells prints of interesting maps from collection.

[2020-04-27 14:55] christoball opened #198 "Fixing Broken External Links"
Got a report of external links that aren't working from the siteimprove that Matt is running our site through.

Will start going through them.

http://page.report/QualityAssurance/report.aspx?site_id=971430&report_logon_md5=2EC53DCDAC5556AEF063DBB3126830FC&group_id=11150047124&source=email

[2020-04-27 14:56] christoball commented on #198
@mitchellryant what do you recommend doing for old carto maps in articles?

https://tnris.org/news/2015-11-09/lidar-data-release-middle-brazos-palo-pinto-fema-project/

[2020-04-28 14:50] jwhaney commented on #196
something to make sure and consider regarding this issue @christoball , currently there are no categories associated with education/training records coming from the api i don't think. that means a backend change to the model and forms in order to add a domain. also, the frontend tnris.org javascript handles getting the training records form the api and displaying them. there is some fairly complex

[2020-04-29 17:24] jwhaney opened #200 "education training register button text based on api registration status"
implement 3 options to show user on the registration buttons for training courses. this will hopefully prevent some confusion among users when they see a future course listed on the website but it says 'Closed' because registration was closed for one reason or another.

1. active and open for registration = green 'Register Here'
2. active but not open for registration = deactivated/greyed out 'Reg

[2020-05-01 13:42] KCMack opened #203 "Update website - new Training information"
[Announcement about changes 4.29.20.docx](https://github.com/TNRIS/tnris.org/files/4564447/Announcement.about.changes.4.29.20.docx)

[2020-05-01 13:42] KCMack commented on #203
@jwhaney

[2020-05-01 14:12] KCMack commented on #203
The front page - replace the News article April Training...... with the content Front page TNRIS.  Eliminate the graphic, too.
Education page - replace the Important Notice from TNRIS Training with the new Important Notice from TNRIS Training

[2020-05-01 20:50] #203 closed, assigned to jwhaney

[2020-05-05 18:04] #200 closed, assigned to jwhaney

[2020-05-06 14:19] KCMack opened #206 "Website front page section GIS Education & Training 5.6.20"
Please update the front page, right column Education GIS Training
[GIS Training Front Page Update 5.6.20.docx](https://github.com/TNRIS/tnris.org/files/4587306/GIS.Training.Front.Page.Update.5.6.20.docx)

@christoball

[2020-05-06 15:48] christoball commented on #206
@KCMack the language here is too much for the front page. Take a look at the preview below.

We should just use the language in the 'Important Notice' on the education page right now:
https://tnris.org/education/

![image](https://user-images.githubusercontent.com/1877550/81198344-fc546380-8f86-11ea-8831-3ba10fc9706e.png)

[2020-05-06 16:08] KCMack commented on #206
I must be missing something.  On the front page, the right hand column under GIS Education & Training generally offers the next two courses.  I was hoping to provide more information in that space.  There is a lot of blank space here now.

And, the language at the top of that section needs to be replaced.  – “The  2020 Training Season is now over.  Let us know if you have suggestions for courses t

[2020-05-06 19:09] christoball commented on #206
@KCMack can you take a look and tell me if this is alright?

http://glidden.tnris.org/

[2020-05-07 14:50] KCMack commented on #206
[GIS Training Front Page Update 5.7.20.docx](https://github.com/TNRIS/tnris.org/files/4593672/GIS.Training.Front.Page.Update.5.7.20.docx)
@jwhaney

[2020-05-07 18:05] #206 closed, assigned to KCMack, jwhaney

[2020-05-08 12:41] ghost commented on #198
- [x] 2014 Texas GIS Forum | TNRIS - Texas Natural Resources Information System
Broken link: http://www.merrick.com/

- [x] 2014-2016 FEMA Lidar datasets for Texas | TNRIS - Texas Natural Resources Information System
Broken link: https://tnris-twdb.carto.com/viz/a47e9bc6-2454-11e7-bcd5-0e3ebc282e83/public_map

- [x] 2015 Lidar Data Release for Brazos County | TNRIS - Texas Natural Resources Inform

[2020-05-08 16:18] #198 closed, assigned to jwhaney

[2020-05-15 12:14] KCMack opened #210 "5.15 Education Notice & Re-Organization/Removal of unnecessary content"
Please replace the important notice at the top of the education page with the attached file.

Retain the yellow box around the new notice

[5.15.20 Edu Web update.docx](https://github.com/TNRIS/tnris.org/files/4634280/5.15.20.Edu.Web.update.docx)

Eliminate paragraph -- Our experienced instructors possess technical and teaching skills which are combined with industry knowledge and practical applic

[2020-05-15 17:37] jwhaney commented on #210
additional items tacked on to this issues work:
- remove course cancellation, both tab content and side content
- remove w9 info from side
- remove purchaser info tab and content
- remove training address from side
- remove purchaser resources from footer and add teacher resources in place

only info on side will be contact button, and discount code copy content if/when education resources from th

[2020-05-15 18:35] #210 closed, assigned to KCMack, jwhaney

[2020-05-19 15:55] KCMack opened #212 "5.19.20 Website Front Page Training News Article and GIS Education updates"
Please replace the current News article with the attached.
Also on the right column remove and replace with the attached update.

Time sensitive

[Website training update 5.19.20 .docx](https://github.com/TNRIS/tnris.org/files/4651264/Website.training.update.5.19.20.docx)

[2020-05-19 18:04] adambreznicky commented on #197
finance has approved online purchase handling. awaiting feedback from IT as per acceptable plugins/libraries which can be used. further coordination with finance & IT in conjunction as per the proper security and workflow protocols necessary for implementation. once knowing what tools are acceptable, we will have substance to work with to begin designing... closing until then.

[2020-05-19 18:04] #197 closed, assigned to jwhaney

[2020-05-19 20:03] geochik opened #213 "GIS Community Meeting Notes - 2nd Qtr 2020"
The slide deck and "notes"....really a blurb....is ready for posting to the GIO page. Speaker Deck requires a PDF rather than PPT so I took the liberty of adding the commercial presentation to ours, exporting and compressing the PDF file. Please let me know if you need additional information. Thank you!
[2nd qtr GIS community meeting blurb.docx](https://github.com/TNRIS/tnris.org/files/4652843/2nd

[2020-05-21 20:24] KCMack opened #214 "Browser Issue - Education Page update"
Because we've heard issues related to browsers not working with the TNRIS website, please add the following statement on the Education page, right hand column, under the contact us box

The courses may incorrectly show as closed in some browsers. We recommend that Chrome be used to accurately view the list of Courses with the Registration Open status.

@adambreznicky

[2020-05-21 20:42] adambreznicky commented on #196
resolved via commit 6bff8f142b45806fadfaf72d2afe24c453874155

[2020-05-21 20:42] #196 closed, assigned to KCMack, geochik, jwhaney

[2020-05-21 20:54] adambreznicky commented on #214
resolved via commit ae97b4727427e89cf2a3dbaac6ee7b02f9e5cfd5

[2020-05-21 20:54] #214 closed, assigned to nobody

[2020-05-22 12:45] adambreznicky commented on #212
i'm reviewing your document now to implement it.

the first half of the content for the "website front page, right hand column" makes sense.

the second half, News Article Update is slightly puzzling to me. by "replace the current News article with the attached" do you mean that you want me to swap out the content of the latest new article (link [here](http://localhost:8000/news/2020-05-01/transit

[2020-05-22 13:12] KCMack commented on #212
Hi Adam,

Great question.  I phrased it incorrectly.

Please add the News Article which was recently added to GitHub.

It gets tricky because usually we merely keep adding News and in this case, we’re updating the content to reflect the recent changes.  I guess for a historical progression point of view, as you suggest, we should simply add the new one and drop the article Make Texas Count in the

[2020-05-22 14:27] adambreznicky commented on #212
new article via commit 1c7133d5f207ac43d2673d565f6691953a26036b
front sidebar updated via commit 990aa6ee6417378b0eede6860e6ce8710ccd8572

[2020-05-22 14:27] #212 closed, assigned to JasonKleinert, adambreznicky, jwhaney

[2020-05-22 16:13] adambreznicky commented on #213
resolved via commit 294252f5ce0216bc02456ebea22ad8cc8337a187

[2020-05-22 16:13] #213 closed, assigned to nobody

[2020-05-22 18:35] adambreznicky commented on #194
no longer needed - removed all news older than 2019 (1 year before the current one). an alternative will most likely replace current pagination method during site rebuild in the future

[2020-05-22 18:35] #194 closed, assigned to JasonKleinert, adambreznicky, jwhaney

[2020-05-22 20:03] adambreznicky commented on #192
resolved via commit 9ba8c4de85fe7e882eed95dc232ed2c8e5e15296

[2020-05-22 20:03] #192 closed, assigned to jwhaney

[2020-06-02 20:21] adambreznicky opened #221 "news migration to twitter"
initial kickoff meeting ideas:
 1. [x] remove legacy news/gio-news articles and code
 2. [x] move 'follow us on twitter' button
 3. [ ] change site font to match twitter (bootstrap default?)
 ~~4. embed feed anywhere else aside from front page?~~

* establish committee of ambassadors
* establish internal workflow (review process?)
* establish standards/requirements for tweet formatting
* individua

[2020-06-09 14:49] ghost opened #225 "Janky"
Could this be fixed, easily? Looks weird to me, I tend to prefer symmetrically lines and equal columns. I do understand the bird sounds portion is from beta, and not fully finished yet.

![front_end_LI](https://user-images.githubusercontent.com/8459928/84162207-bc751600-aa35-11ea-8167-3bcecd7265fb.jpg)
![front_end2_LI (2)](https://user-images.githubusercontent.com/8459928/84162211-bd0dac80-aa35-11

[2020-06-11 20:20] adambreznicky commented on #225
i like your proposition @mitchellryant . good idea. maybe this mock up could help fill out the design?
we can most definitely shorten the length of the new tweet list, but re-arranging could also help in other ways in addition to adjusting the news length. could give us an actual jumbotron style banner. i dunno, just trying to throw some ideas out there to help build on yours.

![Selection_104](ht

[2020-06-11 20:24] adambreznicky commented on #225
also, since most every section of tnris is represented on the landing page, we could swap out the extra large banner so we don't duplicate information (example being that the banner is currently for training while we also already have a section for training below it). maybe replace it with a slightly slimmer, full width static tnris image?

[2020-06-17 13:26] jwhaney commented on #225
the issue i see here is that the right panel GIS Education & Training content is possibly a temporary notice and may go away. i'm not sure how the right side can be properly aligned and symmetrical. i do like the idea for the left side though bringing the datahub element down below the top. another possible option is to shorten the height of the twitter embed. we can control that if we need to adj

[2020-06-25 15:09] jwhaney opened #227 "small device bug - links to latest data/collections not working"
on small devices, when bootstrap re-orders and stacks the 3 different containers (1. news 2. latest data 3. education/training), the education/training element prevents access to the anchor tags/links to latest data. so if you try and click when the front page is in this order on a small device, you cannot access the link to get to the dataset on the datahub.

looks like the problem is an easy fix

[2020-06-25 19:32] jwhaney commented on #227
related to #221 and being resolved on the feature/news-migration branch

[2020-06-25 19:33] jwhaney commented on #225
related to #221 and some design/layout changes are being worked on the feature/news-migration branch

[2020-06-25 20:58] jwhaney commented on #221
fyi, it appears that Twitter uses a proprietary or custom font that is not free. i think they are using this one:
https://www.fonts.com/font/linotype/neue-helvetica?QueryFontType=Web&src=GoogleWebFonts

i'm gonna hold off on any font changes across the site until we can discuss or decide its worth spending some time on.

[2020-06-29 17:24] jwhaney commented on #225
resolved with #228

[2020-06-29 17:24] #225 closed, assigned to JasonKleinert, adambreznicky, jwhaney

[2020-06-29 17:24] jwhaney commented on #227
resolved with #228

[2020-06-29 17:24] #227 closed, assigned to jwhaney

[2020-06-30 14:17] jwhaney opened #230 "front page right side education api calls for upcoming training - BUG?"
the api call to get upcoming training and display them on the front page of the website on the right side do not seem to be working.

There is currently a June 01-02 course there and its currently 6/30.

![image](https://user-images.githubusercontent.com/13525011/86136996-5b7bb380-bab2-11ea-8b14-62102c0d48e7.png)

[2020-07-01 18:27] adambreznicky opened #231 "maps page skewing collection dates"
![Selection_117](https://user-images.githubusercontent.com/5650145/86278635-5a27b500-bb9e-11ea-967d-7768a3910380.png)

as shown in the picture, the dates set in the api admin console for map collections is getting altered in the frontend. the proper dates set are correctly coming out of the api, this means it's a frontend issue. (may be related to the date object issue that messed up the training

[2020-07-09 17:35] geochik opened #232 "3rd Qtr GIS Community Agenda"
@jwhaney
The attached agenda was typically loaded somewhere so I could have a link to post in the announcement. Is it something that can continue? If not, I can put the agenda straight into the announcement. I'm not a fan of the design, anyway.
Please advise and thank you!!
[GISComm_Agenda_20200721.pdf](https://github.com/TNRIS/tnris.org/files/4898495/GISComm_Agenda_20200721.pdf)

[2020-07-09 18:08] jwhaney commented on #232
in what format is this announcement going to be, an email blast, twitter post, news article?

[2020-07-09 18:15] jwhaney commented on #232
https://tnris-org-static.s3.amazonaws.com/documents/GISComm_Agenda_20200721.pdf

[2020-07-09 18:15] #232 closed, assigned to jwhaney

[2020-07-15 14:17] jwhaney opened #233 "add image carousel back to front page"
add a bootstrap image carousel back to the front page of tnris.org at the top.

graphic design work needed for images to be added to the carousel including a notice about the gis forum being cancelled due to the covid-19 pandemic; images highlighting datahub collections with links to the collections on datahub; etc.

[2020-07-15 14:18] jwhaney commented on #221
issues related to the feature branch for this issue - #233

[2020-07-15 14:50] #233 closed, assigned to jwhaney

[2020-07-15 15:30] jwhaney commented on #221
closed via #234

[2020-07-15 15:30] #221 closed, assigned to jwhaney

[2020-07-15 15:57] jwhaney opened #235 "gio quarterly meeting card template/element styling"
refine the styling for the gio quarterly meeting card template so that there is proper padding and nothing gets cutoff.

![image](https://user-images.githubusercontent.com/13525011/87567309-c370f300-c689-11ea-9c51-fbda3521c007.png)

![image](https://user-images.githubusercontent.com/13525011/87567351-cff54b80-c689-11ea-967c-39d34c515137.png)

[2020-07-15 19:54] jwhaney commented on #230
this is not a bug. it was resolved by updating and setting the api training records registration_open status to false if its in the past. this is how it was setup to be managed.

[2020-07-15 19:54] #230 closed, assigned to JasonKleinert, adambreznicky, jwhaney

[2020-07-15 20:51] jwhaney commented on #231
i can look into this

[2020-07-20 21:07] #235 closed, assigned to jwhaney

[2020-07-21 16:27] adambreznicky commented on #231
resolved via commit e52cf5ba4155e2d8b853a2cd7fde038e94d3cdea

[2020-07-21 16:27] #231 closed, assigned to JasonKleinert, adambreznicky, jwhaney

[2020-07-28 17:42] jwhaney opened #240 "gio page - new gis community meeting slide deck list on right side"
new slide deck document url list on right side of GIO page underneath GIO headshots
- just like the solution group meeting notes list - re-use code
- also a backend change with api.tnris.org, handled by @adambreznicky

requested by @geochik on 7/28/20

[2020-07-28 19:22] adambreznicky commented on #240
[https://api.tnris.org/api/v1/tnris_org/comm_note](https://api.tnris.org/api/v1/tnris_org/comm_note)
i made the model and admin console changes. added the new api endpoint. and redeployed. so backend is good to go if we want to continue with the original idea. we can change direction if it's decided that is what's best, np

[2020-08-13 13:01] #240 closed, assigned to jwhaney

[2020-08-13 13:15] JasonKleinert commented on #117
Looks like Bootstrap v3 (our current version) has been moved to end of life on July 24 and will no longer receive critical security updates. [https://blog.getbootstrap.com/2019/07/24/lts-plan/](https://blog.getbootstrap.com/2019/07/24/lts-plan/)

Bootstrap has recently (June 2020) released v5-alpha, [https://blog.getbootstrap.com/2020/06/16/bootstrap-5-alpha/](https://blog.getbootstrap.com/2020/06

[2020-08-19 14:44] jwhaney commented on #180
@KCMack do you think we can close this issue? if not, please provide some details as to how we can move it forward to completion. thank you.

[2020-08-19 14:48] KCMack commented on #180
Yes, I think it's time to close this item.  It was a good idea then and may be a good idea in the future but since we've not moved on this since it was created, please close this issue.

[2020-08-19 14:49] #180 closed, assigned to KCMack, geochik, jwhaney

[2020-08-20 13:33] ghost opened #243 "Update AL\LP Map to AGO"
I talked to @LaurenKirk and we both think it is a good idea to move the AP\LP maps from Carto to AGO. This will give editors a ease of use and greater update capabilities. Below are the embed links to the maps. Height and Width can be adjusted. Ultimately I think it would better to move all the maps on the site (4 in total) to AGO, and to have @e00o be the principle styler of the maps.

These two

[2020-08-20 14:05] JasonKleinert commented on #243
@mitchellryant, are the above mentioned AGOL maps ready to go on the site or are we waiting for input/approval from @e00o or @LaurenKirk?

[2020-08-20 18:41] ghost opened #245 "Update Lidar Status Map"
Data needs massaging and map need work.

Lidar Status Map. https://tnris.org/stratmap/elevation-lidar/

`<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bott

[2020-08-20 18:46] ghost opened #246 "Update TNRIS Location Map"
TNRIS Location Map. https://tnris.org/contact/

`<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe

[2020-08-20 19:37] ghost commented on #243
@JasonKleinert lets wait for @e00o to look over them. I just re-created the maps in carto. he might not change anything.

[2020-08-25 15:28] jwhaney commented on #246
updated embed code:

`<iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="TNRIS.ORG Contact Us Map" src="https://tnris.maps.arcgis.com/apps/Embed/index.html?webmap=3b660af64dcf4062a29ba6a982b444e9&extent=-97.7432,30.2773,-97.7353,30.2813&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe>`

[2020-08-25 17:03] jwhaney commented on #243
@LaurenKirk , @mitchellryant
There is currently no SOURCE field for the data in this new coverage map so I have edited the text that currently shows above the map:

__original__
"The map below shows available address points across Texas. Data were received from across 247 counties and may not be complete coverage. Please see the SOURCE field on each record to determine the data creator or aggregat

[2020-08-25 17:05] jwhaney commented on #243
@e00o , @LaurenKirk , @mitchellryant
fyi, previews will be here in a few minutes when i push to develop:

land parcels - http://develop.tnris.org/stratmap/land-parcels/
address points - http://develop.tnris.org/stratmap/address-points/

[2020-08-25 17:09] jwhaney commented on #245
@mitchellryant , @ThorTheDestroyer
preview will be here in a few when i push to develop:

http://develop.tnris.org/stratmap/elevation-lidar/

[2020-08-25 17:40] LaurenKirk commented on #243
@jwhaney @mitchellryant

John, thanks for fixing that inconsistency.  The previews look good.  Not sure if @e00o  tweaked them or not.

[2020-08-26 17:32] #243 closed, assigned to jwhaney

[2020-08-26 17:32] #245 closed, assigned to jwhaney

[2020-08-26 17:32] #246 closed, assigned to jwhaney

[2020-08-31 15:06] ghost opened #248 "Update Texas Imagery Services Map"
Data needs massaging and map need work.

Map Location - https://tnris.org/texas-imagery-service/

`<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -1

[2020-08-31 15:10] jwhaney opened #249 "Remove Education page Important Notice Banner"
Is this banner still needed? The banner was first posted on the site in May 2020 so we have now had the notice to users up over 3 months. In my opinion it could be removed. Please provide your opinions on this in the comments below at your earliest convenience. Thanks.

![Screen Shot 2020-08-31 at 10 03 52 AM](https://user-images.githubusercontent.com/13525011/91735090-66fe6000-eb71-11ea-8522-660d

[2020-08-31 15:20] geochik commented on #249
I concur. 3 months is a sufficient amount of time.

[2020-09-01 01:58] ghost commented on #248
i did not realize teh pain and suffering this would cause to my life and other. Try to be proactive and help and it leads to a life of pain and suffering.

[2020-09-01 01:58] #248 closed, assigned to jwhaney

[2020-09-01 11:59] JasonKleinert commented on #248
![image](https://user-images.githubusercontent.com/5649664/91847969-33c6da00-ec20-11ea-9c30-2e17e2123374.png)
### @mitchellryant No tears, please. It's a waste of good suffering.

[2020-09-01 21:34] KCMack commented on #249
I agree.

[2020-09-03 12:49] ctrepka commented on #249
I agree

[2020-09-04 18:31] KCMack opened #250 "Replace content on front page"
**From:**
GIS Education & Training
2020 Training Courses
Advance your professional GIS skills by taking our affordable courses.

Working from home is the new normal environment and to accommodate your training needs, TNRIS has changed the delivery of training.

In collaboration with our training partners the new schedule includes:

Instructor-led online classes to offer the same benefits of having

[2020-09-04 18:38] KCMack commented on #250
@ctrepka - would be ideal to have this change made by the end of next week.

[2020-09-04 19:00] ctrepka commented on #250
Sure thing, I'll jump on it today or Tuesday.

[2020-09-04 21:27] geochik commented on #250
Edited - @KCMack I took out the bullets since there were only two and combined the first two sentences with slight text modification.

To:
GIS Education
New Fiscal Year Course Listing

Working from home is ideal for online training! Continue to advance your professional GIS skills by taking our affordable courses.

In collaboration with our training partners, the schedule includes live instructor-